@charset "utf-8";

/* popup */
#popWrap{position:relative;}
#popWrap h1{background-color:#22b8c7;height:50px; line-height:50px; color:#fff; font-size:20px;padding-left:20px;}
#popWrap .popContents{padding:20px 20px 35px;}
#popWrap .close{position:absolute;right:18px;top:17px;}

/* Layer popup */
div.layerPopWrap{position:relative; border:1px solid #64ade5; border-bottom:1px solid #d6d6d6;}
div.layerPopWrap div.layerPopHdr{background:#f7f7f7; border-bottom:1px solid #e5e6e8;}
div.layerPopWrap div.layerPopHdr h3{padding-left:8px; color:#363636; height:35px; line-height:35px; margin:0 !important;}
div.layerPopCnt{padding:10px 9px 9px 9px; border-bottom:1px solid #64ade5;}
div.layerPopWrap a.btnClosePopup{position:absolute; right:9px; top:7px;}


/* 활동관리 */
span.carAtvSel{line-height:35px; display:inline-block; padding-left:9px;}
span.carAtvSel label{color:#363636; margin:0 20px 0 4px; font-weight:bold;}

/* 검색 */
dl.searchZone{overflow:hidden; border:1px solid #dedede;}
dl.searchZone dt{
	text-align:center;
	font-weight:bold;
	height:30px; line-height:30px;
	float:left;
	width:110px;
	background-color: #f3f4f5;
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc0MjgiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGQUZBRkEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGMkYyRjIiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c0MjgpIiAvPgo8L3N2Zz4=);
}
dl.searchZone dd{margin-left:110px; height:30px; line-height:30px; padding:0 0 0 3px; border-left:1px solid #dedede;}

span.popSearchRlt{color:#000; line-height:15px; margin:20px 0 10px 0; display:block; font-size:14px; font-weight:bold;}