@charset "utf-8";

div.customerWrap{width:1024px;}

.cusHistory:after{content:"";display:block;clear:both;}
.cusHistory .cusLeft{float:left;width:501px;}
.cusHistory .cusRight{float:right;width:503px;}
.cusHistory .cusRight td.columnList{height:164px; }

/* lp이력다운로드 */
div.prevLP:after{content:"";display:block;clear:both;}
div.prevLP .prevLeft{width:163px;float:left;}
div.prevLP .prevLeft dl.boxLP{border:1px solid #dedede;padding:8px;margin-top:10px;}
div.prevLP .prevLeft dl.boxLP dt{padding-bottom:5px;}
div.prevLP .prevLeft dl.boxLP dd{background:url(/img/common/blet7.gif) no-repeat 10px 0;padding-left:25px;}
div.prevLP .prevRight{width:840px; float:right;border:1px solid #dedede;padding:0 5px;}
div.prevLP .prevRight:after{content:"";display:block;clear:both;}
div.prevLP .prevRight dl{float:left;width:207px; padding-bottom:7px;}
div.prevLP .prevRight dl dt{background:url(/img/common/blet_cir.gif) no-repeat 5px 16px; border-bottom:1px dashed #dedede; padding:10px 0 6px 18px; margin-bottom:7px;}
div.prevLP .prevRight dl dd{background:url(/img/common/blet7.gif) no-repeat 29px 3px;padding-left:44px; line-height:21px;}
div.prevLP .prevRight dl dd a:hover{color:#363636;}

/* 고객통합뷰-법인-구성원등록 */
span.ResultSumR{display:block;font-size:14px;font-weight:bold;line-height:16px;padding:0 0 9px;text-align:right;}
