@charset "utf-8";



div.smartWrap{}
div.smartWrap h4{font-size:16px;}
div.smartWrap table.table3{padding-left:9px;}


/*==========================
  스마트검색
============================*/
/* 스마트서비스 1tab */
ul.smartTab{overflow:hidden;}
ul.smartTab li{width:512px; float:left;}
ul.smartTab li a{display:block; text-align:center; height:38px; line-height:36px; background:#f3f2ee; border:1px solid #e5e6e8; font-size:14px;}
ul.smartTab li a span{background:url(/img/sub/bg_smartse_off.png) no-repeat 0 50%; display:inline-block; padding-left:19px;}
ul.smartTab li:first-child a span{background-image:url(/img/sub/bg_smartp_off.png);}
ul.smartTab li.active{color:#3669aa; height:38px;}
ul.smartTab li.active a{
	color:#3669aa;
	border-bottom:0;
	border-top:3px solid #64ade5;
	border-left:1px solid #e5e6e8; border-right:1px solid #e5e6e8;
	line-height:35px;
	height:38px;
	background-color: #ffffff;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#eeeeee));
	background-image: -webkit-linear-gradient(bottom, #ffffff, #eeeeee);
	background-image: -moz-linear-gradient(bottom, #ffffff, #eeeeee);
	background-image: -ms-linear-gradient(bottom, #ffffff, #eeeeee);
	background-image: linear-gradient(bottom, #ffffff, #eeeeee);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#eeeeee', endColorstr='#ffffff');
}
ul.smartTab li.active a span{background-image:url(/img/sub/bg_smartse_on.png);}
ul.smartTab li:first-child a{border-left:1px solid ##e5e6e8; border-right:0;}
ul.smartTab li:first-child a span{border-left:1px solid ##e5e6e8; border-right:0;}
ul.smartTab li.active:first-child a span{background-image:url(/img/sub/bg_smartp_on.png);}


/* 스마트서비스 2tab */
.sInrTab{ overflow:hidden; padding:8px 0 8px 8px; }
.sInrTab li{float:left; width:40px;}
.sInrTab li a{color:#777777; display:block; border:1px solid #cccccc; border-left:0; border-right:0; text-align:center;}
.sInrTab li a span{display:block; height:22px; line-height:22px;}
.sInrTab li.on a{display:block;background:#589df3; text-align:center; color:#fff; border:1px solid #3672c6;}
.sInrTab li.on a span{display:block; border-top:1px solid #4b8dde; border-right:1px solid #4b8dde; height:22px; line-height:22px;}

.sInrTab li:first-child a{
	border-top-left-radius:2px;
	-webkit-border-top-left--radius:2px;
	-moz-border-top-left-radius:2px;
	-ms-border-top-left-radius:2px;
	border-bottom-left-radius:2px;
	-webkit-border-bottom-left-radius:2px;
	-moz-border-bottom-left-radius:2px;
	-ms-border-bottom-left-radius:2px;
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
}
.sInrTab li.last a{
	border-top-right-radius:2px;
	-webkit-border-top-right-radius:2px;
	-moz-border-top-right-radius:2px;
	-ms-border-top-right-radius:2px;
	border-bottom-right-radius:2px;
	-webkit-border-bottom-right-radius:2px;
	-moz-border-bottom-right-radius:2px;
	-ms-border-bottom-right-radius:2px;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}

div.smartCont{border-left:1px solid #e5e6e8; border-right:1px solid #e5e6e8; width:1024px;}
div.settingWrap{padding:0 0 0 8px; overflow-y:scroll; overflow-x:hidden; width:1022px; height:315px;}
div.SettingZone{overflow:hidden;}
/* 스마트검색 테이블 */
table.smarTable{border:1px solid #dedede; }
table.smarTable.cols{float:left; width:688px; margin-right:10px;}
table.smarTable.rows{float:left;width:293px;}
table.smarTable.rows td{padding: 8px 0 7px 8px;}
table.smarTable.rows td.tac{padding:0;}
table.smarTable th{border:1px solid #dedede;}
table.smarTable th.tit{background:#f9fafa;}
table.smarTable tbody th,
table.smarTable tbody td{color:#707070; border:1px solid #dedede;}
table.smarTable .groupTit{
	background-size:100% 100%;
	background-color: #f3f4f5;
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc5MzQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGM0Y0RjUiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNFQUVCRUQiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c5MzQpIiAvPgo8L3N2Zz4=);
	
}
/* 초기화 및 조건저장 */
div.searchDetail{border:1px solid #cdd6d8; background:#f1f3f4; overflow:hidden;background:url(/img/sub/bg_searchDetail_c.gif) repeat-y 0 0; }
div.searchDetail div.tagWrap{background:url(/img/sub/bg_searchDetail.gif) repeat-x 0 0; width:641px; overflow:hidden; float:left;}
div.searchDetail div.tagCnt{width:488px; border-right:1px solid #e0e3ea; border-left:1px solid #c1c6cc; border-top:1px solid #c1c6cc; padding:9px 0 0 8px; background:#fff; float:left; min-height:48px; margin:12px 0 8px 9px; font-size:0;}
div.searchDetail div.tagCnt span{margin-right:19px; display:inline-block; padding:1px 0 2px 0; font-size:12px;}
div.searchDetail div.tagCnt button.smDel{background:url(/img/sub/btn_smDel.gif) no-repeat 0 0; width:11px; height:11px; vertical-align:middle; margin:0 0 0 5px; position:relative; top:-1px;}
div.searchDetail div.searchSave{float:left; background:#f1f3f4 url(../images/sub/bg_searchDetail_r.gif) repeat-y 100% 0; margin:11px 0 8px 10px;}
div.searchDetail div.searchSave span{display:block; padding:0 0 5px 0;}
div.searchDetail div.searchSave span a:first-child{margin-right:3px;}
div.searchDetail div.searchSave .lgBeR{width:106px; padding:8px 15px;}
div.searchDetail div.msaveSearch {width:381px; border-top:1px solid #f8f9f9; border-left:1px solid #f8f9f9; float:left; padding:11px 0 8px 14px;
 	background-color: #f0f2f3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f2f3), to(#e0e4e9));
	background-image: -webkit-linear-gradient(top, #f0f2f3, #e0e4e9);
	background-image: -moz-linear-gradient(top, #f0f2f3, #e0e4e9);
	background-image: -ms-linear-gradient(top, #f0f2f3, #e0e4e9);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f0f2f3', endColorstr='#e0e4e9');
	position:relative;
}
div.fLset span.towLine .smWtRb {margin:-3px 0 1px 0;} /* 폼요소와 버튼 */
div.searchDetail div.msaveSearch dt{color:#3769a8; font-weight:bold; font-size:13px; padding:0 0 8px 0;}
div.searchDetail div.msaveSearch dd{background:url(/img/sub/blt_grayArrow.gif) no-repeat 4px 8px; padding:0 0 0 13px; line-height:21px;}
div.msaveSearch .smWtRb{position:absolute; right:9px; top:9px;}

/* 검색결과 총합 */
span.ResultSum{font-size:16px; display:block; font-weight:bold; height:46px; line-height:16px; padding:20px 0 10px 0;}



/*==========================
  스마트픽
============================*/
div.smartPicWrap{border:1px solid #e5e6e8; height:400px; overflow-y:scroll; overflow-x:hidden; padding:9px 0; width:1024px; border-top:0;}

div.spVisual{width:494px; float:right; overflow:hidden;}

/* 그래프 */
div.spVisual div.graph{float:left; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; border:1px solid #dedede; width:238px; height:185px; text-align:center;}
div.spVisual div.graphCont{width:119px; margin:19px auto 10px; position:relative;}
div.spVisual span.salStd{display:inline-block; position:absolute; left:50%; top:50%; width:35px; margin:-19px 0 0 -17px;  font-size:30px; font-weight:bold; padding-bottom:10px; border-bottom:3px solid #000; color:#000; letter-spacing:-1px;}
span.myFavor{background:url(/img/sub/bg_Favor.gif) no-repeat 0 50%; padding-left:24px; height:17px; line-height:17px; display:inline-block; color:#000;}

/* 스마트픽 배너존 */
div.spbnrZone{width:242px; height:185px; float:left; position:relative; margin-left:10px;}
div.bnrList{position:absolute; left:0; top:0;}

/* 컨트롤버튼 */
span.bntCtrl{position:absolute; right:15px; top:15px; z-index:1;}
span.bntCtrl button{float:left; background:url(/img/sub/btn_slide_off.gif) no-repeat 0 0; width:13px; height:12px; margin-left:5px;}
span.bntCtrl button:first-child{margin-left:0;}
span.bntCtrl button.on{background-image:url(../images/sub/btn_slide_on.gif);}


div.spBox{position:relative; float:left; background:url(/img/sub/bg_spBox.gif) no-repeat 100% 0; padding:9px 0 9px 14px; width:240px; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; border:1px solid #dedede; height:89px; margin:0 0 9px 9px;}
div.spBox span.badge{display:block; height:16px;}
div.spBox p.spCmt{line-height:15px; padding:4px 105px 8px 0;}
div.spBox.clearB{clear:both;}
a.bePoint{background:url(/img/sub/bg_bePoint.gif) no-repeat 1px 50%; padding-left:13px; line-height:11px; font-size:11px;}
a.bePoint strong{position:absolute; right:0; top:13px; width:60px; text-align:center; display:block; height:40px; color:#fff; font-size:22px; line-height:18px; height:18px; font-weight:bold;}

/* 산출기준레이어 */
div.compLayer{position:absolute; z-index:22; background:#fff; background:url(/img/sub/bg_layerArrow.gif) no-repeat 18px 0; left:-2px; top:83px; height:171px; padding:5px 0 0 0;}
div.compLayer dl {width:242px;}
div.compLayer dt{background:#585a5c; color:#fff; font-weight:bold; height:33px; line-height:33px; padding-left:15px;
	width:242px;
	border:1px solid #dbdbdb; border-top:0;border-top-left-radius:4px;border-top-right-radius:4px; -webkit-border-top-left-radius:4px; -moz-border-top-left-radius:4px; -ms-border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px; -moz-border-top-right-radius:4px; -ms-border-top-right-radius:4px;
}
div.compLayer dd{width:242px; background:#fff; padding:14px; border:1px solid #dbdbdb; border-top:0; line-height:18px;
	border-bottom-left-radius:4px;border-bottom-right-radius:4px; -webkit-border-bottom-left-radius:4px; -moz-border-bottom-left-radius:4px; -ms-border-bottom-left-radius:4px;
	-webkit-border-bottom-right-radius:4px; -moz-border-bottom-right-radius:4px; -ms-border-bottom-right-radius:4px;
}
div.compLayer a.spClose{position:absolute; right:10px; top:9px;}





