@charset "UTF-8";
div.containerDiv *{
    font-family: '돋움',Dotum,AppleGothic,sans-serif;
    font-size: 12px;
    margin:0px;
    padding:0px;
}

div.tableContainer {
	border-top: 1px solid #b5c3ce;
	border-bottom: 1px solid #d9d3c7;
	border-left: 0px;
	background: url('./img/head_bg.gif') left 1px repeat-x;
}




/* 헤더 영역 : S */
div.tableContainer .tableHeadDiv {
	border-left: 1px solid #b5c3ce;
	border-bottom: 1px solid #b5c3ce;
}

div.tableContainer .tableHeadDiv TABLE THEAD TR TH{
	background: url('./img/head_bg.gif') repeat-x;
	border: 0px;
	border-right: 1px solid #b5c3ce;
	color: #444444;
	text-align: center;
	font-weight: normal;
	line-height: 23px;  /*TH의 height는 line-height로 해야 모든 브라우저 동일*/
}

div.tableContainer .tableHeadDiv  THEAD TR TH input[type=checkbox]{
	width:11px;height:11px;padding: 1px 3px 3px 10px;	
}
div.tableContainer .tableBodyDiv  TBODY TR TD input[type=checkbox]{
	width:11px;height:11px;padding: 1px 3px 3px 5px;	
}
/* 헤더 영역 : E */

/* 바디 영역 : S */
div.tableContainer .tableBodyDiv {
	border-left: 1px solid #d9d3c7;
}

div.tableContainer .tableBodyDiv TABLE {
	margin-left: 0px;
	border-collapse: separate;
	background: url('./img/body_bg.gif');
}

div.tableContainer .tableBodyDiv TABLE TBODY TR TD{
	border-top: 0px;
	border-left: 0px;
	border-bottom: 1px solid #d9d3c7;
	border-right: 1px solid #d9d3c7;
	padding: 3px;
	padding-top: 6px;
	line-height: 16px; /*TD의 height는 line-height로 해야 모든 브라우저 동일*/
}
/* 바디 영역 : E */

/* 마우스 커서가 올라갔을 경우(hover) TR의  배경색 ( row수가 많아지면 너무 느려지므로 제거 ) */
div.tableContainer .tableBodyDiv table tbody tr:hover{ 
	background: #e5e5e5;
}

/* 마우스 커서가 올라갔을 경우(hover) TR의  배경색 ( row수가 많아지면 너무 느려지므로 제거 ) */
div.tableContainer .tableBodyDiv table tbody tr.hover{ 
	background: #e5e5e5;
}

/* 선택되었을때의 TR의  배경색 */
div.tableContainer .tableBodyDiv table tbody tr.selectedTR{
	background: #b9b9b9;
}

/* editMode 시 input 또는 selectBox를 통해 값이 변경된 경우 td의 색을 변경 (기존에 존재 하는것을 수정시   [tr의 data-execute 속성값이 update]) */
div.tableContainer .tableBodyDiv table tbody tr td.editedTdForUpdate{
	background: #fcd6de;
}

/* editMode 시 input 또는 selectBox를 통해 값이 변경된 경우 td의 색을 변경 (appendRow에 의해 새로 추가된것을 수정시  [tr의 data-execute 속성값이 insert])*/
div.tableContainer .tableBodyDiv table tbody tr td.editedTdForInsert{
	background: #c8dbf7;
}

/* 소팅 : S*/
div.tableContainer .tableHeadDiv TABLE THEAD TR TH.sorting{
	background: url('./img/head_bg_on.gif') repeat-x;
}

div.tableContainer .tableHeadDiv TABLE THEAD TR TH SPAN.sort_asc{
	background: url('./img/sort_down.png') no-repeat 0 1px;
}
div.tableContainer .tableHeadDiv TABLE THEAD TR TH SPAN.sort_desc{
	background: url('./img/sort_up.png') no-repeat 0 1px;
}
div.tableContainer .tableHeadDiv TABLE THEAD TR TH SPAN.sort_able{
	background: url('./img/sort_able.png') no-repeat 0 1px;
}
/* 소팅 : E*/

/* 트리그리드 : S */
div.tableContainer .tableBodyDiv table tbody tr td span.noChild{
	background-color: red;
}
div.tableContainer .tableBodyDiv table tbody tr td span.expand{
	background-color: black;
}
div.tableContainer .tableBodyDiv table tbody tr td span.collapse{
	background-color: blue;
}
/* 트리그리드 : E */

/* 페이징 : S */
.paginate_complex{padding:15px 0;line-height:normal;text-align:center;}
.paginate_complex a,
.paginate_complex strong{display:inline-block;position:relative;z-index:2;margin:0 -3px;padding:1px 8px;border-left:1px solid #d6d6d6;border-right:1px solid #d6d6d6;background-color:#fff;font:bold 12px/16px Tahoma, Sans-serif;color:#323232;text-decoration:none;vertical-align:top}
.paginate_complex a:hover,
.paginate_complex a:active,
.paginate_complex a:focus{background-color:#f8f8f8}
.paginate_complex strong{color:#ff8600}
.paginate_complex .direction{border:0;font-weight:normal;color:#767676;text-decoration:none !important;z-index:1}
.paginate_complex .direction:hover,
.paginate_complex .direction:active,
.paginate_complex .direction:focus{color:#323232;background-color:#fff}
.paginate_complex .prev{border-left:0}
.paginate_complex .next{border-right:0}
.paginate_complex .direction span{display:inline-block;position:relative;top:4px;width:0;height:0;font-size:0;line-height:0;vertical-align:top}
.paginate_complex .prev span{*left:-4px;margin-right:1px;border:3px solid;border-top:solid #fff;border-bottom:solid #fff;border-left:0}
.paginate_complex .next span{margin-left:1px;border:3px solid;border-top:solid #fff;border-bottom:solid #fff;border-right:0}
/* 페이징 : E */


/* 그리드 정보 (그리드하단에 붙는 영역) */
.gridInfoBar{background: #E3E3E3;width:100%;height:20px;}
.gridInfoBar .gridPageInfo{padding-right:10px;padding-top:3px;}


/* ================= 아래는 내부 로직에 의해 사용 수정  X ================= */
col.nono { visibility:collapse}

div.tableContainer .tableHeadDiv THEAD TR TH{
	
}

div.tableContainer .tableBodyDiv table tbody tr td{
	.width: 100%;  /*IE6*/
	*:first-child+html width: 100%;  /*IE7*/
	overflow : hidden;
    white-space: nowrap;
    text-overflow : ellipsis;
	-o-text-overflow : ellipsis;
}

/* td를 클릭하여 editmode시 input 과 selectbox를 위한 공간으로 padding변경 (padding: 0px 0px 0px 0px)*/
div.tableContainer .tableBodyDiv table tbody tr td.editMode{
	padding-top: 0px;
	padding-bottom: 0px;
}