.ui-front {
	z-index: 10000;
}

.ui-widget-overlay {
	background-color: #000;
	opacity: 0.4;
	filter : alpha(opacity=40);
}

.ci-dialog {
	position: fixed;
	border: 1px solid #606060;
	background-color: #ffffff;
	padding:0;
}

.ci-dialog .ui-dialog-titlebar {
	border-bottom: 1px solid #e2e2e2;
	color:#333333;
	font-size:25px;
	line-height:25px;
	font-weight:bold;
	padding:20px 0 0px 23px;
	height:60px;
}


.ci-dialog-content {
	display: none;
}

.ci-dialog .ui-dialog-content{
	overflow: hidden;
}


.ci-dialog .ui-dialog-buttonpane {text-align:center; padding:0;  margin-top:15px; }

/* notitle */
.ci-dialog.notitle .ui-dialog-titlebar {
	border: none;
}
.ci-dialog.notitle .ui-dialog-title {
	color: #ffffff;
}

/* style override */

.ci-dialog {
	background:url(../img/pop_bg.gif) repeat-x top #fff; 
}

.ci-dialog .ui-dialog-titlebar-close {
    background:url(../img/pop_btn_winclose.gif) no-repeat; 
    width:15px; 
    height:14px;
    border:0px;
    margin-top:-1px;
}

.ci-dialog.visibility_hidden{	
	opacity : 0;
	filter: alpha(opacity = 0);
}