/* 다이알로그 모바일 오버라이드 */

.ci-dialog {
    border: none;
    background: none;
    background-color: #fff;
    -webkit-backface-visibility: hidden;
}

.ci-dialog .ui-dialog-titlebar {
	color: #fff;
	text-align: center;
	padding: 0;
	padding-left: 12%;
	height: 44px;
	line-height: 42px;
	border-top: 1px solid #6CD3BE;
	border-bottom: none;
	background-image: -webkit-gradient(linear, right top, right bottom, color-stop( 0%, #10B897), color-stop(100%, #018D70) );
}

.ci-dialog .ui-dialog-title {
	line-height: 42px;
}

.ci-dialog .ui-dialog-content {
	padding: 10px 0px 0px 0px;
	margin: 0px;
}

.ui-dialog .ui-dialog-buttonpane button.w-btn {
    height: 36px;
    padding-left: 30px;
    padding-right: 30px;
}

.ci-dialog .ui-dialog-titlebar-close {
	background: url(/templets/mobile/img/common/btn_popup_close.png) no-repeat;
	background-size: 36px 30px;
	width: 36px;
	height: 30px;
	border: 0px;
	position: relative;
	top: 0px;
	left: -2px;
}
