.calendarWrapper {
	position:relative;
	display:inline-block;
}

.calendarWrapper .calendarInput {
	width: 85px;
}

.calendarWrapper .calOpenBtn {
	float: right;
	display: block;
	width: 26px;
	height: 26px;
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	background-image: url('../img/calendar_sprite.png');
	background-position: -3px -51px;
}

.calendarWrapper .calOpenBtn:hover {
	background-position: -28px -51px;
}

.calendarWrapper .calOpenBtn:active {
	background-position: -53px -51px;
}

.mobile .calendarWrapper .calOpenBtn,.mobile .calendarWrapper .calOpenBtn:hover,.mobile .calendarWrapper .calOpenBtn:active 
{ display:inline-block; margin-top:5px;margin-left:3px;vertical-align:middle; background:url(/templets/mobile/img/common/icon_cal.png) center no-repeat; background-size:24px 24px}

.calendarIndi {
	width: 11px;
	height: 6px;
	background-image: url('../img/calendar_sprite.png');
	background-position: -59px -12px;
}

.calendarDiv {
	background-color: #fff;
    padding: 15px 15px 20px 15px;
    border: 1px solid #606060;
    border-top: 3px solid #313131;
    width: 212px;
    letter-spacing: -1px;
}

.calendarDiv .wrap {
	padding: 0;
	margin: 0;
	min-width: 0;
}

.calendarDiv .c-prevYear,
.calendarDiv .c-prevMonth,
.calendarDiv .c-nextMonth,
.calendarDiv .c-nextYear {
	overflow: hidden;
    text-transform: capitalize;
    text-indent: -9999px;
    background-color: #ffffff;
    cursor: pointer;
	border: 1px solid #b8b8b8;
	border-radius: 2px;
	box-shadow: 1px 1px #EEEEEE;
}

.calendarDiv .month {
	height: 30px;
	text-align: center;
}

.calendarDiv .month a {
	display: inline-block;
}

.calendarDiv .calendarTitle {
	font-size: 16px;
	color: #444444;
	font-weight: bold;
	vertical-align: 3px;
}

.calendarDiv .c-prevYear {
    display: inline-block;
    width: 19px;
    height: 17px;
    margin-right: 3px;
    background-image: url('../img/calendar_sprite.png');
	background-position: -6px -32px;
}

.calendarDiv .c-prevMonth {
    display: inline-block;
    width: 18px;
    height: 17px;
    margin-right: 12px;

    background-image: url('../img/calendar_sprite.png');
	background-position: -7px -7px;
}

.calendarDiv .c-nextMonth {
    display: inline-block;
    width: 18px;
    height: 17px;
    margin-left: 12px;

    background-image: url('../img/calendar_sprite.png');
	background-position: -31px -7px;
}

.calendarDiv .c-nextYear {
    display: inline-block;
    width: 19px;
    height: 17px;
    margin-left: 3px;

    background-image: url('../img/calendar_sprite.png');
	background-position: -30px -32px;
}

.calendarDiv .calendarTable table{
	border-top: 1px solid #e3e3e3;
	border-bottom: none;
	table-layout: auto;
	margin: 0;
}

.calendarDiv .calendarTable thead{
	border-bottom: 1px solid #777777;
}

.calendarDiv .calendarTable tr{
	height: 22px;
	line-height: 22px;
	border: none;
}

.calendarDiv .calendarTable th,
.calendarDiv .calendarTable td{
	height: 22px;
	line-height: 22px;
	margin: 0 !important;
	padding: 0 !important;
	text-align: center;
	border: none !important;
}

.calendarDiv .calendarTable td {

}

.calendarDiv .calendarTable td > a {
	border: 1px solid transparent;
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
}

.calendarDiv .calendarTable td > a:hover {
	border: 1px solid #006954;
	background-color: #FFFFFF;
	color: #444444;
}

.calendarDiv a.today {
	border: 1px solid #006954;
	background-color: #007e65;
	color: #fff;
}

.calendarDiv a.select {
	border: 1px solid #9FDFE1;
	background-color: #CFF0F1;
	color: #444444;
}

.calendarDiv #closeBtn {
	position: absolute;
	width: 10px;
	height: 10px;
	top: 4px;
	right: 4px;
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	background-image: url('../img/calendar_sprite.png');
	background-position: -59px -35px;
}