@CHARSET "UTF-8";

.CodeMirror {
	height: 700px;
}

#htmlview {
	width: 50%;
	float: left;
}

#scriptview {
	width: 50%;
	float: right;
}

#preview{
	border:1px solid black;
	padding:5px;
	margin-bottom: 5px;
	max-height: 300px;
	overflow: auto;
}

table {
	border-collapse: collapse;
}

table tr{ border:1px solid black;}table td{ border:1px solid black;}table th{ border:1px solid black;}

.fr {
	float: right;
}

.fl {
	float: left;
}

.clear {
	clear: both;
}