@charset "utf-8";

/* 폰트정의 */
@font-face {
	font-family: NanumGothic;
	src: url(/font/NanumGothic.eot);
	src: local("NanumGothic"), url(/font/NanumGothic.ttf) format("truetype"),url(/font/NanumGothic.woff);
	font-style: normal;
	font-weight: normal;
}

html,body{color:#707070; font-size:12px; font-family:NanumGothic,"나눔고딕";}
caption,
legend {
	position:absolute; visibility:hidden; width:0; height:0; overflow:hidden; font-size:0;
}

/* 색상 */
.red{color:#e8404f;}
.blue{color:#00a2ff;}
.lightBlue{color:#22b8c7;}
.colorNBe{color:#01509f;}
.disebled{color:#D0D0D0 !important;}

/* 정렬 */
.textL{text-align:left;}
.textC{text-align:center;}
.textR{text-align:right;}
.textR input{text-align:right;}
.vT{vertical-align:top;}
.vM{vertical-align:middle;}

/* list-style */
.listbar li{background:url(../img/common/blt_minus.gif) no-repeat 0 7px; padding-left:8px;}
.listDot{background:url(../img/common/blt_grayDot.gif) no-repeat 0 7px; padding-left:9px;}
.listDot strong{margin-right:15px;}
.listcc{background:url(../img/common/blt_circle.gif) no-repeat 0 0; padding-left:20px; color:#ea5a2e;}

/* 여백정렬 */
.pR2{padding-right:2px;}

/* bg */
.grbg{
	border-left:1px solid #dedede; 
	background-color: #f3f4f5;
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc0MjgiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGQUZBRkEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGMkYyRjIiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c0MjgpIiAvPgo8L3N2Zz4=);
}

/* Form & button */
input{color:#707070;}
input[type="text"] {border-left:1px solid #c1c6cc; border-top:1px solid #c1c6cc; border-bottom:1px solid #e0e3ea ; border-right:1px solid #e0e3ea; padding:3px 5px 0; height:24px;font-size:12px; vertical-align:middle;}
input[type="text"].bderN{border:0;}
input[type="checkbox"]{width:13px;height:13px;margin:0;padding:0;vertical-align:middle;}
input[type="radio"]{width:13px;height:13px;vertical-align:middle;margin-top:-1px;_margin-top:0;}
select {font-family:NanumGothic,"나눔고딕";vertical-align:middle;font-size:12px; line-height:20px; padding:3px 0;; border-left:1px solid #c2c5cc; border-top:1px solid #c1c6cc; border-bottom:1px solid #e0e3ea; border-right:1px solid #e0e3ea;color:#707070;}

/* svn 추가 내용 20140423*/
.ie8 select option{font-family:NanumGothic,"나눔고딕";}
/* svn 추가 내용 20140423*/

textarea {color:#464646; border:1px solid #b9c6d4; padding:5px; vertical-align:top; font-size:12px; line-height:16px;font-family: NanumGothic,sans-serif; color:#707070;}
button {overflow: hidden; margin: 0; padding: 0; border: 0 none; font-family:NanumGothic,"나눔고딕",Dotum,"돋움",Gulim,"굴림",Verdana,sans-serif;  cursor: pointer;}
button span{display: block; overflow: hidden; position: absolute; top: 0; left: 0; width: 0; height: 0; border: 0; background: none !important; font-size: 0; line-height: 0;}
/* fireFox button */
button::-moz-focus-inner{padding:0; margin:0;}
a{color:#707070; text-decoration:none;}

/* table input, textarea */
table .widthFull{display:block;}
table .widthFull input{width:100%; color:#707070;}
table .selectFull {display:block;}
table .selectFull select{width:100%;}
table .textareaFull {display:block;}
table .textareaFull textarea{width:100%;}
table tr.focusDrag{border:2px solid #64ade5;}

.entryFull {display:block;} 
.entryFull input {width:97%; color:#707070;} 

/* 2.24 추가 테이블근처 설명 */
* + .footNote{line-height:17px; margin-top:7px;}
.footNote + * {margin-bottom:7px;}
.footNote li{position:relative; padding-left:9px;}
.footNote li span{position:absolute; left:0; top:0;}
p.footNote{position:relative; padding-left:9px;}
p.footNote span{position:absolute; left:0; top:0;}
/* footNote에 title이 있는경우 */
div.footNote strong{font-size:12px; font-weight:normal;}
div.footNote strong + ul.footNote{margin-top:0;}


/* table 공통 */
table{table-layout:fixed; border:1px solid #dedede; width:100%; font-family:NanumGothic,"나눔고딕",dotum,arial;}
table th{padding:7px 0 5px; border-bottom:1px solid #dedede; line-height:1.5; text-align:center;font-weight:normal;}
table td{padding:3px 3px 2px 3px;}
table th, table td{vertical-align:middle;}
table td.tal{padding-left:9px !important;}
table td.tar{padding-right:4px !important;}
table tfoot.tfootType1 th, table tfoot.tfootType1 td{padding:6px 3px 5px;}
table td.under a{text-decoration:underline;}
.codeNum a{text-decoration:underline; color:#079eb1;}/* 링크색,언더라인 */
table td.subject{padding:0 0 0 9px; text-align:left;}

/* table 우측포지션 */
div.juContact {position:relative;}
div.juContact .more{position:absolute;right:0;top:0;margin:0;}
div.juContact .more li{float:left;} 
div.juContact .more li label{padding-right:10px;}
div.juContact .more1{position:absolute;right:0;top:-34px;margin:0;}
div.juContact .more2{position:absolute;right:0;top:6px;margin:0;}/* 단위(만원) */

table .lineY{border-left:1px solid #dedede !important;}

/* table border none */
table.bderTN{border-top:0 !important;}


/* table tbody th td형 */
.table1 th{
	border-left:1px solid #dedede; 
	background-color: #f3f4f5;
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc0MjgiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGQUZBRkEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGMkYyRjIiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c0MjgpIiAvPgo8L3N2Zz4=);
	}
.table1 th:first-child{border-left:0;}
.table1 th.bderL{border-left:1px solid #dedede;}
.table1 th.leftArray{text-align:left;padding-left:20px;}
.table1 td{border-left:1px solid #dedede; border-bottom:1px solid #dedede;}
.table1 td.txtIn{padding-left:10px;}
.table1 td p{line-height:15px;margin-top:2px;}
.table1 td.baseImg{padding:10px 0 0 15px; background-color:#f4f4f4;vertical-align:top;}
.table1 td.baseImg div span{float:left;overflow:hidden;margin-right:9px;}
.table1 td.baseImg div span img{width:65px;height:72px;}
.table1 td.baseImg div ul.ver1{float:left;padding-top:50px;}
.table1 td.baseImg div ul.ver2{float:left;padding-top:24px;}
.table1 td.baseImg div ul li{margin-top:4px;}
.table1 td.baseImg div ul li:first-child{margin-top:0;}
.table1 td.baseImg1{padding:10px 0 0 15px;}
.table1 td.baseImg1 div ul{padding-top:50px;}

/* table thead th형 */
.table2 th{border-left:1px solid #dedede;
	background-color: #f3f4f5;
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc0MjgiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGQUZBRkEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGMkYyRjIiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c0MjgpIiAvPgo8L3N2Zz4=);
}
.table2 th:first-child{border-left:none;}
.table2 th.suddenText{background:#fff;text-align:left;padding-left:10px;}
.table2 td{border-left:1px solid #dedede; }

/* table thead th, tfoot형 - From요소용 - */
.table3 {text-align:center;}
.table3 + h3{margin-bottom:20px;}
.table3 th{
	border-left:1px solid #dedede; 
	background-color: #f3f4f5;
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc0MjgiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGQUZBRkEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGMkYyRjIiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c0MjgpIiAvPgo8L3N2Zz4=);
}
.table3 th:first-child{border-left:0;}
.table3 thead th.bderL{border-left:1px solid #dedede;}
.table3 tbody th.bderL{border-left:1px solid #dedede;}
.table3 tbody td{border:1px solid #dedede; height:30px;}
.table3 tbody td.turn{background:url(../img/common/blet3.gif) no-repeat 50% 50%;}
.table3 tbody tr.bg{background:#fafafa;}
.table3 tfoot td{background:#dde3ef;border-left:1px solid #fff;padding-left:10px;}
.table3 tfoot th{background:#dde3ef;}
.table3 tfoot tr td:first-child{border-left:0;}
.table3 tfoot td.price{padding:7px 14px 7px 0; font-size:14px;}
.table3 tfoot td.bderL{border-left:1px solid #fff !important;}
.table3 tfoot td.bderB{border-bottom:1px solid #fff !important;}
.table3 + p{margin-top:8px;}
.table3 .bderB{border-bottom:1px solid #fff;}
.tfootType1 span label{margin-right:10px;}
.table3.h31 tbody td{height:31px;}
.table3 tbody td span.bder1{width:35px; display:inline-block;}
.table3 tbody td span.bder2{width:196px; display:inline-block;border-left:1px solid #dedede; border-right:1px solid #dedede;}
.table3 tbody td span.bder3{width:96px; display:inline-block;}
.table3 tr.bg2 th{background:#fff;background-image:none;}

/* table DataTable형 */
.table4 th{
	background-color: #f3f4f5;
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc0MjgiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGQUZBRkEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGMkYyRjIiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c0MjgpIiAvPgo8L3N2Zz4=);
}
.table4 td{text-align:center;border:1px solid #dedede;}

.table5 {border-top:1px solid #dedede; border-bottom:1px solid #dedede;}
.table5 th{text-align:left;padding-left:15px;border-left:1px solid #dedede;}
.table5 td{border-left:1px solid #dedede;}
.table5 td:first-child{border-left:0;}

.table6{border-left:0;border-right:0;}
.table6 th{background:#f9f9f9;border-left:1px solid #dedede;}
.table6 th:first-child{border-left:0;}
.table6 td{text-align:center;border-left:1px solid #dedede;border-bottom:1px solid #dedede;padding:8px 5px 7px;}
.table6 tr:first-child td:first-child{border-left:0;}
.table6 td.textR{text-align:right;}
.table6 .bg1{background:#e9eef7;}
.table6 .bg2{background:#d0ebee;}
.table6 .bg3{background:#ddedef; color:#00a2ff;}
.table6 .bg4{background:#eeeeee;}

.table7 {text-align:center;}
.table7 + h3{margin-bottom:20px;}
.table7 th{
	background-color: #f3f4f5;
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc0MjgiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGQUZBRkEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGMkYyRjIiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c0MjgpIiAvPgo8L3N2Zz4=);
	border-left:1px solid #dedede;
	}
.table7 th:first-child{border-left:0;}
.table7 tbody td{border:1px solid #dedede;padding:8px 0 7px;}
.table7 tbody td.textL{padding-left:10px;}
.table7 tbody tr.bg{background:#fafafa;}

.table8 th{
	border-left:1px solid #dedede; 
	background-color: #f3f4f5;
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc0MjgiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGQUZBRkEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGMkYyRjIiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c0MjgpIiAvPgo8L3N2Zz4=);
}
.table8 th:first-child{border-left:0;}
.table8 td{border:1px solid #dedede;}
.table8 td.textL{padding-left:10px;}

/* table th(input)텍스트 왼쪽 정렬형 */
.table9 th{
	border-left:1px solid #dedede; 
	background-color: #f3f4f5;
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc0MjgiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGQUZBRkEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGMkYyRjIiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c0MjgpIiAvPgo8L3N2Zz4=);
	text-align:left;
	padding-left:20px;
}
.table9 th:first-child{border-left:0;}
.table9 th input{margin-right:6px;}
.table9 td{border:1px solid #dedede;}
.table9 td.textL{padding-left:10px;}

/* table th color삽입 */
.table10{border-left:0;border-right:0;border-bottom:0;}
.table10 tbody th{border-bottom:0;border-top:1px solid #dedede;border-left:1px solid #dedede;background:#f5f5f5;padding:4px 0;}
.table10 tbody tr.tit th{padding:0 5px 0 10px;height:31px;line-height:31px;}
.table10 tbody tr.tit th{border-left:0;}
.table10 tbody th:first-child{border-left:0;}
.table10 tbody tr:first-child th{border-top:0;}
.table10 tbody td{border-left:1px solid #dedede;border-top:1px solid #dedede;padding:4px 5px 4px 3px;line-height:1.5;}
.table10 tbody td.child1{background:url(../img/common/icon_child1.gif) no-repeat 10px center;padding-left:30px !important;}
.table10 tbody td.child2{background:url(../img/common/icon_child2.gif) no-repeat 10px center;padding-left:30px !important;}

/* table td right */
.table11 {}
.table11 + h3{margin-bottom:20px;}
.table11 th{
	border-left:1px solid #dedede; 
	background-color: #f3f4f5;
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc0MjgiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGQUZBRkEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGMkYyRjIiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c0MjgpIiAvPgo8L3N2Zz4=);
}
.table11 thead tr:first-child th:first-child{border-left:0;}
.table11 tbody th.bg1{background:#e5f2f3}
.table11 tbody th.bg2{background:#fff;}
.table11 tbody td{border:1px solid #dedede; height:30px; text-align:right;}


/* 리스트 테이블 */
table.listTable{}
table.listTable {text-align:center;}
table.listTable + h3{margin-bottom:20px;}
table.listTable th{
	border-left:1px solid #dedede; 
	background-color: #f3f4f5;
	border-left:1px solid #dedede; 
	background-color: #f3f4f5;
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc0MjgiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGQUZBRkEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGMkYyRjIiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c0MjgpIiAvPgo8L3N2Zz4=);
}
table.listTable th:first-child{border-left:0;}
table.listTable tbody td{border:1px solid #dedede;}
table.listTable thead th,
table.listTable tbody th,
table.listTable tbody td{line-height:15px; height:31px; padding:0;}
table.listTable td.PyNumber a{color:#00a1b1; text-decoration:underline;}

/* scrollTable 우측에 바로가기 버튼 */
.scrollTable {position:relative;}
.scrollTable .more{position:absolute;right:4px;top:5px;}
.scrollTable .scC{height:185px;overflow:auto;overflow-x:hidden;}

.arrMore{border:1px solid #dedede;border-top:0;text-align:center;height:30px;line-height:26px;}
.arrMore a.the{background:url(../img/common/bg_btnArrow1.gif) no-repeat right center;padding-right:14px;}

/* systemBox 두줄이상일 경우 */
.systemBox {border:1px solid #dedede; margin-bottom:10px;}
.systemBox li{border-top:1px solid #dedede;padding:17px 0 17px 20px;;}
.systemBox li:first-child{border-top:0;padding:17px 0 17px 20px;;}
.systemBox input[type="checkbox"]{margin-left:14px;}
.systemBox input[type="checkbox"].first{margin-left:0;}

/* box checkbox형 */
.box1{border:1px solid #dedede; padding:17px 0 17px 20px; margin-bottom:10px;}
.box1 input[type="checkbox"]{margin-left:14px;}
.box1 input[type="checkbox"].first{margin-left:0;}

.box2{border:1px solid #dedede; padding:10px;}

.textBox{border:1px solid #dedede; padding:11px 10px 11px 10px; margin-bottom:10px; line-height:1.5;}
.textBox .btnL{left:20px;line-height:22px;}
.textBox strong{color:#079eb1;}
.textBox .textL{text-align:left;}

.fileBox{border:1px solid #dedede; padding:17px 0 17px 20px; margin-bottom:10px;}
.fileBox:after{content:"";display:block;clear:both;}
.fileBox dl.file{float:left;width:420px;}
dl.file dt{float:left;line-height:31px;padding-right:25px;}
dl.file dd {float:left;width:340px;position:relative; height:31px; line-height:31px;}
dd input[type="text"]{}
dd span input[type="file"]{position:absolute;left:3px;top:5px;}

.fileBox table {float:right;width:571px;margin-right:5px;}

/*   추가 bg_tab2.gif 파란색 */
.tab01{border-bottom:0;background:url(../img/common/bg_tab1.gif) repeat-x 0 0;height:31px;overflow:hidden;}
.tab01.type2{background-image:url(../img/common/bg_tab2.gif);} /*파랑색*/
.tab01 li{height:31px;float:left;margin-left:1px;}
.tab01 li:first-child{margin-left:0;}
.tab01 li a{height:29px; line-height:29px;text-decoration:none; color:#fff; display:block; padding:0 10px;border-radius:2px 2px 0 0; -moz-border-radius:2px; -webkit-border-radius:2px; -ms-border-radius:2px;background-color:#22b8c7;min-width:64px;text-align:center;}
.tab01 li.active a{background:#fff;color:#22b8c7;border:2px solid #22b8c7;border-bottom:0;border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;-ms-border-radius:3px 3px 0 0;padding:0 8px;height:31px;line-height:25px;}
/* 블루 */
.tab01 li a.type2{background:#4ca9ff;color:#fff;}
.tab01 li.active a.type2{background:#fff;color:#4ca9ff;border:2px solid #4ca9ff;border-bottom:0;border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;-ms-border-radius:3px 3px 0 0;padding:0 8px;height:31px;line-height:25px;}
/* 회색 */
.tab01 li.ci-tab-disebled a.type1{background:#e3e3e3;color:#707070;}
.tab01 li.ci-tab-disebled.active a.type1{background:#e3e3e3;color:#707070;border:2px solid #e3e3e3;border-bottom:0;border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;-ms-border-radius:3px 3px 0 0;padding:0 8px;height:29px;line-height:25px;}

.tabGy01{border-bottom:2px solid #9d9d9d;}
.tabGy01:after{content:"";display:block;clear:both;}
.tabGy01 li{float:left;margin-left:1px;}
.tabGy01 li a{height:29px; line-height:29px;text-decoration:none; color:#707070; display:block; padding:0 15px;border-radius:2px 2px 0 0; -moz-border-radius:2px; -webkit-border-radius:2px; -ms-border-radius:2px;background-color:#e0e0e0;}
.tabGy01 li:first-child{margin-left:0;color:#707070;}
.tabGy01 li.on a{background:#9d9d9d;color:#fff;}

ul.btnTab{overflow:hidden;margin-bottom:8px;}
ul.btnTab li{float:left;margin-left:0}
ul.btnTab li a{display:block;height:27px;line-height:27px;text-decoration:none;color:#8e8e8e;background:#f2f2f2;border:1px solid #cacaca;padding:0 10px;min-width:100px;text-align:center;border-left:0;}
ul.btnTab li:first-child a{border-left:1px solid #cacaca;border-right:0;}
ul.btnTab li.active a{
	background-color: #f3f4f5;
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc0MjgiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGQUZBRkEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGMkYyRjIiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c0MjgpIiAvPgo8L3N2Zz4=);
	color:#666;
	border:1px solid #a8a8a8;
}

ul.textTab {overflow:hidden;}
ul.textTab li{float:left;background:url(../img/common/bg_texttab_line.gif) no-repeat 0 center;padding:0 10px;}
ul.textTab li:first-child{background:none;padding:0 10px 0 0;}
ul.textTab li a{color:#777;font-size:14px;}
ul.textTab li.active a{color:#363636;}

/* tab02 */
#conteiner #contents .tab02{overflow:hidden;border:1px solid #dedede;height:205px;position:relative;}
#conteiner #contents .tab02 h3{float:left; height:32px;line-height:32px;border-left:1px solid #dedede;width:81px;text-align:center;background:#d9ebed;letter-spacing:0 !important;margin:0;}
#conteiner #contents .tab02 h3:first-child{border-left:0;width:106px;letter-spacing:-1px !important;}
#conteiner #contents .tab02 h3 a{color:#007d8b; text-decoration:none;font-size:12px;font-weight:bold; display:block;}
#conteiner #contents .tab02 h3 a.on{background:#fff;color:#707070;display:block;}
.tab02 div{overflow:auto;overflow-x:hidden;overflow-y:scroll;height:164px;position:absolute;left:15px;top:33px;padding-top:9px;}
.tab02 ul{width:234px;}
.tab02 ul li{border-top:1px solid #dedede;background:url(../img/common/blet2.gif) no-repeat 0 center;padding:0 0 0 15px;height:30px;line-height:30px;position:relative;margin-right:15px;}
.tab02 ul li:first-child{border-top:0;}
.tab02 ul li span.close{position:absolute;right:0;top:0;}
.tab02 ul li span.close a img{vertical-align:middle;}
.tab02 ul li a span.ellip{width:140px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;display:inline-block;}
#conteiner #contents div.coverTab h3, #conteiner #contents div.coverTab h3:first-child{width:134px;}

/* tab03 */
.tabData{position:relative;overflow:hidden;margin-bottom:20px;}
.tabData .more{position:absolute;right:0;top:0;}
.tab03 li{margin-left:-1px;}
.tab03 li:first-child{margin-left:0;}
.tab03 li a{color:#8e8e8e;background-color:#f2f2f2;border:1px solid #cacaca;float:left;height:25px;line-height:25px;width:98px;text-align:center;}
.tab03 li a.on{background-color:#fff;color:#8e8e8e;border:1px solid #a8a8a8;}

/* tab04 */
ul.tab04{width:327px; border-bottom:2px solid #585a5c; height:29px;}
ul.tab04 li{float:left;}
ul.tab04 a{
	display:block;letter-spacing:-1px;
	height:27px; line-height:27px; color:#424242; width:109px; padding-left:30px; background:#fff url(../img/common/bg_oldperson.png) no-repeat 12px center;
	border-top-left-radius:2px;
	-webkit-border-top-left-radius:2px;
	-moz-border-top-left-radius:2px;
	-ms-border-top-left-radius:2px;
	border-top-right-radius:2px;
	-webkit-border-top-right-radius:2px;
	-moz-border-top-right-radius:2px;
	-ms-border-top-right-radius:2px;
	border:1px solid #dddfe0;
	border-bottom:0;
}
.tab04 li.active a{background:#585a5c url(../img/common/bg_newperson.png) no-repeat 12px center; color:#fff; border:1px solid #585a5c;}

/* tab05 */
.tabOutline{background:url(../img/common/bg_tab_line1.gif) repeat-x left 31px; width:100%;}
.tab05{height:31px;display:inline-block;background:url(../img/common/bg_tab05_c.gif) repeat-x 0 0; }
.tab05 li{float:left;height:31px;}
.tab05 li.first{background:url(../img/common/bg_tab05_l.gif) no-repeat left 0;}
.tab05 li.last{background:url(../img/common/bg_tab05_l.gif) no-repeat right 0;}
.tab05 li a{height:30px; line-height:30px; color:#a3a3a3;border-bottom:0; border-left:0; font-weight:bold;display:block; text-align:center;}
.tab05 li a span{background:url(../img/common/bg_tab05_l.gif) no-repeat right 0;height:31px;display:block;padding:0 15px;}
.tab05 li.active a{height:32px;color:#575757;background:url(../img/common/bg_tab05_r_on.gif) no-repeat right 0;}
.tab05 li.active a span{background:url(../img/common/bg_tab05_l_on.gif) no-repeat 0 0;height:32px; padding:0 15px; display:block; text-align:center; cursor:pointer; margin-left:-1px;}
.tab05 li.active:first-child a span{margin-left:0;}


/* 네비처럼쓰이는 tab */
ul.navTab{overflow:hidden; width:100%; height:43px; border:1px solid #d8d8d8; border-bottom:0; margin:0 0 59px 0; background:url(../img/sub/bg_navTab.gif) repeat-x 0 100%;}
ul.navTab li{float:left; height:42px; width:33.3%;}
ul.navTab li a span{line-height:41px; height:40px; display:block; text-align:center; border-left:1px solid #d8d8d8;} 
ul.navTab li:first-child a span{border-left:0;}
ul.navTab li.active a span{border-bottom:3px solid #22b8c7; line-height:41px;}


/* 스마트스테이션에서 쓰이는 tab */
ul.ctTab{overflow:hidden; background:url(../img/sub/bg_ctTab.gif) repeat-x 0 100%; height:32px;}
ul.ctTab li{float:left; position:relative;  z-index:1;}
ul.ctTab li a{display:block; padding:0 15px; color:#b2b2b2; height:30px; line-height:30px; border:1px solid #d8d8d8;  border-bottom:0; border-left:0; border-top-left-radius:2px; border-top-right-radius:2px;
-webkit-border-top-left-radius:2px; -moz-border-top-left-radius:2px; -ms-border-top-left-radius:2px; -webkit-border-top-right-radius:2px; -moz-border-top-right-radius:2px; -ms-border-top-right-radius:2px;
}
ul.ctTab li:first-child a{border-left:1px solid #d8d8d8;}
ul.ctTab li.active{ position:relative;z-index:2;}
ul.ctTab li.active a{border-bottom:0; height:32px; line-height:32px; color:#707070; border-color:#898989; border-left:1px solid #898989; background-color:#fff;}

/* 라운드탭*/
ul.rndTab{overflow:hidden; background:url(../img/sub/bg_rndTab.gif) repeat-x 0 100%; height:25px;}
ul.rndTab li{float:left; position:relative;  z-index:1; margin-right:2px;}
ul.rndTab li a{border:1px solid #fff; display:block; color:#838383; border:1px solid #dedede; height:24px; border-bottom:0; border-top-left-radius:4px; border-top-right-radius:4px;
-webkit-border-top-left-radius:4px; -moz-border-top-left-radius:4px; -ms-border-top-left-radius:4px; -webkit-border-top-right-radius:4px; -moz-border-top-right-radius:4px; -ms-border-top-right-radius:4px;
background-color:#f6f6f6; 
}
ul.rndTab li a span{ height:22px; line-height:22px; border:1px solid #fff; display:block; padding:0 20px; border-bottom:0; border-top-left-radius:4px; border-top-right-radius:4px;
-webkit-border-top-left-radius:4px; -moz-border-top-left-radius:4px; -ms-border-top-left-radius:4px; -webkit-border-top-right-radius:4px; -moz-border-top-right-radius:4px; -ms-border-top-right-radius:4px;}
ul.rndTab li:first-child a{border-left:1px solid #dedede;}
ul.rndTab li.active{ position:relative;z-index:2;}
ul.rndTab li.active a{border-bottom:0; height:25px; line-height:25px; color:#363636; border-color:#dedede; border-left:1px solid #dedede; background-color:#fff;}


/* 계약부분의 텍스트로 된 탭 */
.txtTab{overflow:hidden; margin:0 0 10px 0;}
.txtTab li{float:left;}
.txtTab li a{color:#8e8e8e; display:block; padding:0 10px; background:url(../img/sub/bg_txtTabBar.gif) no-repeat 0 50%;}
.txtTab li:first-child a{padding-left:0; background-image:none;}
.txtTab li.active a{color:#000;}


/* paging */
div.paging{padding:12px 0 0 0; text-align:center; font-size:0;}
div.paging a{
   border-radius:1px; 
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   -ms-border-radius:1px;
   border:1px solid #e4e5e6;
   color:#909598;
   width:20px; height:20px;
   text-align:center;
   vertical-align:top;
   line-height:18px;
   display:inline-block;
   margin-left:10px;
   font-size:12px;
}
div.paging strong{display:inline-block; 
   border-radius:1px;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   -ms-border-radius:1px;
   border:1px solid #8f9497;
   color:#606466;
   text-align:center;
   line-height:18px;
   width:20px; height:20px;
   font-size:12px;
   font-weight:normal;
   }
div.paging a.prev,
div.paging a.next{border:0; border-radius:0; -webkit-border-radius:0; -moz-border-radius:0; -ms-border-radius:0;}
div.paging a.prev{margin-right:20px;}
div.paging a.next{margin-left:20px;} 
div.paging a.prev + strong,
div.paging a.prev + a{margin-left:0;}

span.setIcon1{background:url(../img/common/blet_lg1.gif) no-repeat 5px 48%; margin:0 5px 0 1px; display:inline-block; width:15px; text-indent:-99999px; font-size:0;  line-height:15px; height:15px;}
span.setIcon2{background:url(../img/common/blet_lg2.gif) no-repeat 5px 48%; margin:0 5px 0 1px; display:inline-block; width:12px; text-indent:-99999px; font-size:0;  line-height:15px; height:15px;}
span.setIcon3{background:url(../img/common/blet_lg3.gif) no-repeat 5px 48%; margin:0 5px 0 1px; display:inline-block; width:15px; text-indent:-99999px; font-size:0;  line-height:15px; height:15px;}

.setUp, .setDown{position:relative;display:inline-block;}
.setUp span.img{background:url(../img/common/blt_arrowR.png) no-repeat;}
.setDown span.img{background:url(../img/common/blt_arrowB.png) no-repeat;}
.setUp span.img, .setDown span.img {position:absolute;right:10px;top:9px;width:9px;height:5px;}
.setUp a, .setDown a{padding-right:20px;}

/* btnWrap */
.btnWrap{clear:both; position:relative; text-align:right;}
.btnWrap a{font-size:12px; margin-left:2px;}
.btnWrap a:first-child{margin-left:0;}
.btnL{left:0; position:absolute;}
.btnR{right:0; position:absolute;}
table +.btnWrap{margin-top:10px;}
.btnWrap + *{margin-top:10px;}

/* 공통 */
.btn,
.btn * {margin:0; padding:0; display:-moz-inline-stack; display:inline-block; text-decoration:none !important; border:0; font-size:12px; font-family:NanumGothic,"나눔고딕",dotum,arial;
				white-space:nowrap; vertical-align:middle; overflow:visible; color:#fff; }
.btn *{cursor:pointer; cursor:hand; vertical-align:middle;}
 
/* table button */
.smGyRb{line-height:15px; color:#fff; border:1px solid #707070; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; -ms-border-radius:2px; padding:2px 5px 3px;
	background-color: #8b8b8b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#969696), to(#858585));
	background-image: -webkit-linear-gradient(top, #969696, #858585);
	background-image: -moz-linear-gradient(top, #969696, #858585);
	background-image: -ms-linear-gradient(top, #969696, #858585);
	background-image: linear-gradient(top, #969696, #858585);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#969696', endColorstr='#858585');
} /* 작은 라운드 그레이라운드보더 */
.smGynb{
	line-height:15px; color:#fff; border:1px solid #707070;padding:2px 5px 3px;
	background-color: #8b8b8b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#969696), to(#858585));
	background-image: -webkit-linear-gradient(top, #969696, #858585);
	background-image: -moz-linear-gradient(top, #969696, #858585);
	background-image: -ms-linear-gradient(top, #969696, #858585);
	background-image: linear-gradient(top, #969696, #858585);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#969696', endColorstr='#858585');
}

.smGy{line-height:15px; height:22px; color:#fff; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; -ms-border-radius:2px; padding:3px 5px 3px; background-color: #818181;}
.smWtRb{line-height:15px; color:#707070; border:1px solid #cccccc; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; -ms-border-radius:2px; padding:2px 5px 3px;
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f1f1));
	background-image: -webkit-linear-gradient(top, #ffffff, #f1f1f1);
	background-image: -moz-linear-gradient(top, #ffffff, #f1f1f1);
	background-image: -ms-linear-gradient(top, #ffffff, #f1f1f1);
	background-image: linear-gradient(top, #ffffff, #f1f1f1);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#f1f1f1');
} /* 작은 라운드화이트라운드보더 */
.smWtRb1{line-height:15px; color:#707070; border:1px solid #cccccc; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; -ms-border-radius:2px; padding:2px 6px 3px;
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f1f1));
	background-image: -webkit-linear-gradient(top, #ffffff, #f1f1f1);
	background-image: -moz-linear-gradient(top, #ffffff, #f1f1f1);
	background-image: -ms-linear-gradient(top, #ffffff, #f1f1f1);
	background-image: linear-gradient(top, #ffffff, #f1f1f1);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#f1f1f1');
} /* 작은 라운드화이트라운드보더 정사각형 */

.smbeRb{line-height:15px; color:#fff; border:1px solid #4a83cc; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; -ms-border-radius:2px; padding:3px 5px 3px;
	background-color: #589df3;} /* 작은 라운드화이트라운드보더 */

.smLgR{line-height:17px; height:22px; color:#fff; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; -ms-border-radius:2px; padding:2px 5px 3px; background-color: #22b8c7;} /* 밝은초록 라운드 */
.smLgn{line-height:15px; height:22px; color:#fff; padding:2px 10px 3px; background-color: #22b8c7;} /* 밝은초록 직각 */
.smGnn{line-height:15px; height:22px; color:#fff; padding:2px 10px 3px; background-color: #50a6ca;} /* 초록 직각 */
.smGnR{line-height:15px; height:22px; color:#fff; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; -ms-border-radius:2px; padding:2px 5px 3px; background-color: #50a6ca;} /* 초록 라운드 */

.smBeR{line-height:15px; height:22px; color:#fff; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; -ms-border-radius:2px; padding:3px 5px 3px; background-color: #0084ff;}/* 블루 라운드 */

.smAqR{line-height:15px; color:#fff; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; -ms-border-radius:2px; padding:2px 5px 3px; background-color: #00acde;}/* 아쿠아 라운드 */

.lgBen{line-height:15px; height:29px; color:#fff; padding:7px 15px 7px; background-color: #0084ff}
.lgBeR{line-height:15px; height:29px; color:#fff; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; -ms-border-radius:2px; padding:7px 15px 7px; background-color: #0084ff;}
.lgGyR{line-height:15px; height:29px; color:#fff; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; -ms-border-radius:2px; padding:7px 15px 7px; background-color: #818181;}
.lgLgR{line-height:15px; height:29px; color:#fff; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; -ms-border-radius:2px; padding:7px 15px 7px; background-color: #22B8C7;}
.lgGnR{line-height:15px; height:29px; color:#fff; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; -ms-border-radius:2px; padding:7px 15px 7px; background-color: #50A6CA;}
.lgBeR1{line-height:15px; height:29px; color:#fff; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; -ms-border-radius:2px; padding:7px 12px 7px; background-color: #0084ff;}/* 블루좌우패딩12 */
.lgLgR1{line-height:15px; height:29px; color:#fff; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; -ms-border-radius:2px; padding:7px 12px 7px; background-color: #22B8C7;}/* 초록좌우패딩12 */
.lgGyR1{line-height:15px; height:29px; color:#fff; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; -ms-border-radius:2px; padding:7px 12px 7px; background-color: #818181;} /* 회색좌우패딩12 */
.lgLgR1{line-height:15px; height:29px; color:#fff; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; -ms-border-radius:2px; padding:7px 12px 7px; background-color: #22b8c7;}

.mdLgRb{line-height:15px; color:#fff; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; -ms-border-radius:2px; padding:2px 9px 3px; background-color: #22B8C7;border:1px solid #38a6b2;} /* 초록라운드보더 */
.mdDyR{line-height:15px; color:#fff; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; -ms-border-radius:2px; padding:3px 5px 4px; background-color: #a8c600;} /* 다크노랑 */
.mdGnRw{line-height:15px; color:#fff; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; -ms-border-radius:2px; padding:3px 9px 4px; background-color: #50a6ca;} /* 초록 높이22px 라운드 */

a.carendar *{vertical-align:middle;}
a.carendar span.cdr{background:url(../img/common/bg_calendar.png) no-repeat 0 0; color:#707070; text-align:center; font-size:11px; padding:9px 0 0 0; display:inline-block; width:21px; line-height:15px; height:24px;}
div.carlendar{margin:9px 0 1px 0;}
div.carlendar span.today{position:relative; top:2px;}
div.cellCrnr{margin:9px 0 1px 0;}
div.cellCrnr span.today{position:relative; top:2px;}

/* label과 폼요소가 함께 쓰일때 */
div.fLset span.towLine{display:block; padding:4px 0 0 0; margin:4px 0 0 0;} /* 두줄일경우 */
.fLset{font-size:0; display:block;}
.fLset label,
.fLset input{vertical-align:middle; margin-top:1px;}
.fLset label{margin:0 10px 0 5px;font-size:12px;}
.fRset input{margin:0 0 0 10px;}
 span.today{line-height:15px; color:#fff; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; -ms-border-radius:2px; padding:3px 5px 4px; background-color: #0084ff;font-size:11px;}


/* bg + 텍스트가 있는 아이콘 */
/* 펼침아이콘 */
.btn.smWtRb span.txtArrow{background:url(../img/common/blt_arrowB.png) no-repeat 0 50%; margin:0 1px 0 5px; display:inline-block; width:9px; text-indent:-99999px; font-size:0;  line-height:15px; height:15px;}/* 텍스트 + up */
.btn.smWtRb span.txtArrow.up{background:url(../img/common/blt_arrowR.png) no-repeat 0 50%;}
.btn.smWtRb span.ImgArrow{background:url(../img/common/blt_arrowB.png) no-repeat 0 50%; margin:0 1px 0 0px; display:inline-block; width:9px; text-indent:-99999px; font-size:0;  line-height:15px; height:15px;}/* up만 */
.btn.smWtRb span.ImgArrow.up{background:url(../img/common/blt_arrowR.png) no-repeat 0 50%;}
/* 동기화아이콘 */
.btn.smGnR span.sync{background:url(../img/sub/icon_Sync.gif) no-repeat 0 0; width:12px; height:12px; margin:0 6px 0 0;}
/* 테이블 정렬아이콘 */
button.btnAlign{background:url(../img/common/blt_alignArrow.gif) no-repeat 0 0; width:9px; height:12px; vertical-align:middle; margin-left:6px; position:relative; top:-2px;}
/* 완료, 미완료아이콘 */
.smWtRb span.comp{background:url(../img/sub/icon_comp.gif) no-repeat 0 50% !important; width:11px; height:11px; display:inline-block; position:relative; top:2px; margin-right:6px;}
.smWtRb span.Incomp{background:url(../img/sub/icon_Incomp.gif) no-repeat 0 50% !important; width:11px; height:11px; display:inline-block; position:relative; top:2px; margin-right:6px;}
/* ListPoint */
ul .point, ol .point{margin-left:-10px; color:#e8404f;}

/* float */
.floatL{float:left;}
.floatR{float:right;}

/* 마진 */
.mt_4{margin-top:-4px !important;}


/* 메모  */
p.memoResult{text-align:right; margin:9px 0; color:#000;font-size:14px;font-weight:bold;}
div.memoWrap{}
div.memoContentArea{overflow:hidden; margin:9px 0 0 -10px;}
div.memo_wrapper{overflow:hidden;border-bottom:0;float:left; width:334px; padding-bottom:4px; margin:0 0 11px 10px; background:url(../img/common/bg_memo_b.gif) no-repeat 0 bottom; height:261px; position:relative; color:#766b63;}
div.memo_wrapper.new{color:#c0bcba !important;}

div.memoHdr{background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc5MDIiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiM3REQzRjciIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiM2QkMxRTUiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c5MDIpIiAvPgo8L3N2Zz4=);
	color:#fff; border:1px solid #52aace; posiiton:absolute; left:0; top:0; z-index:3;}
div.memoHdr span{height:30px; line-height:30px; display:block;}
div.memoHdr span.tit{border-top:1px solid #d6f3ff; padding-left:13px; background:#6bc1e5}
div.memoHdr span.data{position:absolute; right:11px; top:0; z-index:11;}
div.memoarea{border:1px solid #a4c0cc; border-top:0; border-bottom:0; height:224px; background-color:#fcfcfd; background:url(../img/sub/bg_memocnt.gif) repeat 0 1px; position:absolute; left:0; top:32px; z-index:10; width:334px;}
div.memoarea div.mm_scroll:first-child{margin-top:34px;}
div.memoarea strong.memo_subject{ display:block; font-weight:normal; border-bottom:1px solid #cae0e4; height:34px; line-height:34px; padding-left:12px; background-color:#fcfcfd; position:relative; z-index:11;} 
div.memoarea strong.memo_subject input[type="text"]{border:none; padding:0; background:transparent;}
div.mm_scroll{margin-left:32px; height:30px; line-height:31px; height:158px;}
div.mm_scroll textarea{height:30px; line-height:31px; height:158px; overflow-y:scroll; overflow-x:hidden; padding-right:15px; word-break: break-all; word-wrap: break-word; border:none; resize:none; width:300px; background:transparent; display:block; padding:0;}

.bg{ url(../img/sub/bg_memosuject.gif) repeat-x 0 0;}
div.memoarea .lt{background:url(../img/sub/bg_paper_side.gif) repeat-y 0 0; position:absolute; left:0; top:32px; width:23px; height:158px; z-index:1;}
div.bottom_paper{position:absolute; left:1px; top:225px; width:332px; height:30px; background-color:#fff; z-index:11; padding:5px 9px 0 0; text-align:right;}
/* border reset */
#wrap .bder0{border:0;}

/* 파일첨부 */
span.attchfileBox{display:inline-block; height:23px; position:relative; overflow:hidden; vertical-align:middle;}
span.attchfileBox input.fileHidden{font-size: 25px; opacity: 0; position: absolute; right: 0; top: 0; cursor: pointer;}

/* 공통 */
div.popTit h2 span.sizeDown{font-weight:normal;}

/* 로그인 */
#loginWrap {width:738px;margin:0 auto;position:relative;min-height:100%;margin-bottom:-62px;padding-bottom:82px;}
#loginWrap .login{background:url(../img/common/bg_login.gif) no-repeat 0 0;width:738px;height:266px;position:relative;overflow:hidden;}
#loginWrap .login h1{height:37px;}
#loginWrap .login form.inputLogin{padding:43px 0 0 383px;}
#loginWrap .login form.inputLogin ul{margin-top:6px;}
#loginWrap .login form ul li{margin-top:10px;}
#loginWrap .login form ul li:first-child{margin-top:0;}
#loginWrap .login form ul li input[type="text"] {height:30px;line-height:30px;}
#loginWrap .btnLogin{position:absolute;right:20px;top:134px;}

/* svn 추가 내용 20140423*/
/*로딩바*/
.loadingBar {vertical-align:middle;position:absolute;z-index:2000000000;width:36px;height:36px;background:url(../img/common/loading_clear_large.gif) center no-repeat; }
.blockOverlay {z-index:3000 !important; opacity:0.2 !important; -ms-filter:alpha(opacity=0.2);}
.blockPage {z-index:3001 !important;}
/* svn 추가 내용 20140423*/