@charset "utf-8";

html, body{height:100%;}

div.smModWrap{height:29px; background-color:#d3f3f5; display:none}
div.smModWrap div.smMod{width:1024px; margin:0 auto; height:29px;}
div.smMod h2{width:72px; background:#00a1b1; color:#fff; text-align:center; height:29px; line-height:29px; float:left; }
div.smMod .infoSel{float:left; font-size:0; padding:2px 0 0 0;}
div.smMod label{display:inline-block; background:url(../img/common/bg_smbadge.gif) no-repeat 0 0; width:39px; height:16px; font-size:11px; text-align:center; color:#fff; padding-right:10px; margin:0 5px 0 10px; vertical-align:middle;}
div.smMod select{font-size:11px; vertical-align:middle; margin-right:5px;}

/* wrap */
#wrap {width:100%;background:url(../img/common/bg_line1.gif) repeat-x 0 0; color:#666666; font-family:NanumGothic,"나눔고딕",dotum,arial; font-size:12px; position:relative; min-height:100%;
margin-bottom:-62px; padding-bottom:82px;
}
#wrap.checkList #container{padding-bottom:40px;}
/* header */
#header-wrap{width:1024px;margin:0 auto; position:relative;}
#header{width:1024px; margin:0 auto; position:relative; z-index:1000; background:url(../img/common/bg_line1.gif) repeat-x 0 0; }
#header h1, #header a.total, #header div.gnbWrap{float:left;}
#header h1 {padding-right:79px; height:50px;}
#header a.total{border-left:1px solid #007c88; display:block;}

/* gnb */
div.gnbWrap{position:relative;}
div.gnbWrap ul#gnb{overflow:hidden; float:left;}
div.gnbWrap ul#gnb li {float:left;font-size:14px;border-left:1px solid #00919f;}
div.gnbWrap ul#gnb li a{text-decoration:none; color:#707070; width:120px; display:block; text-align:center; line-height:50px; height:50px; color:#fff; font-size:16px; font-weight:bold;border-left:1px solid #33b4cl}
div.gnbWrap ul#gnb li a.on{background:url(../img/common/blt_gnbArrow.gif) #fff no-repeat center bottom; color:#22b8c7; }
div.gnbWrap ul#gnb div.depth2 {position:absolute;left:1px;top:50px; background:#fff;}
div.gnbWrap ul#gnb li li{ border-left:0;width:121px;text-align:center;background:url(../img/common/bg_line3.gif) no-repeat 0 0; position:relative; letter-spacing:-1px;}
div.gnbWrap ul#gnb li li:first-child{background:none; width:120px;}
div.gnbWrap ul#gnb li li a{color:#707070; font-size:14px; font-weight:normal;height:39px;line-height:39px;}
div.gnbWrap ul#gnb li li a:hover{color:#22b8c7;}
div.gnbWrap ul#gnb div.depth2 div {border:1px solid #c3c3c3;border-top:0; overflow:hidden;position:absolute;left:0;top:40px;z-index:200;background:url(../img/common/icon1.gif) #fff no-repeat center top;}
div.gnbWrap ul#gnb ul ul{ background:url(../img/common/gnb_bar.gif) #fff no-repeat center bottom; margin-bottom:2px;padding-bottom:9px;overflow:hidden;}
div.gnbWrap ul#gnb li li li {background:url(../img/common/blet1.gif) no-repeat 0 center; width:90px; margin-left:15px; padding-left:15px;}
div.gnbWrap ul#gnb li li li a{height:28px; line-height:28px;text-align:left;font-size:13px;}
div.gnbWrap ul#gnb li li li:first-child{background:url(../img/common/blet1.gif) no-repeat 0 center; width:90px; margin-top:7px;}

div.gnbWrap span.globalIcon{float:left;border-left:1px solid #00919F;}
div.gnbWrap span.globalIcon .icoTotal{width:170px; display:inline-block; float:left;}
div.gnbWrap span.globalIcon a{width:53px;height:50px;line-height:50px;padding-top:13px;text-align:center;display:block;float:left;}
div.gnbWrap span.globalIcon a:first-child{margin-left:0;}
div.gnbWrap span.globalIcon a.last{width:40px;padding-top:0;}
div.gnbWrap span.smmode{} /* smmode가 있을시 smmode클래스가생성됩니다. */
div.gnbWrap span.smmode .icoTotal{width:128px;}
div.gnbWrap span.smmode .icoTotal a{width:42px;}
div.gnbWrap span.globalIcon a.smIcon{width:40px; height:49px; display:inline; line-height:100%; background-color:#00a1b1; color:#fff600; margin-right:1px;}


/* 전체메뉴 레이어 */
div.allmenu{ width:1024px; position:absolute; left:0; top:50px; min-height:230px; background:#fff; z-index:2; border:1px solid #22b8c7; border-top:0;border-radius:0 0 3px 3px;-webkit-border-radius:0 0 3px 3px;-moz-border-radius:0 0 3px 3px;-ms-border-radius:0 0 3px 3px;}
div.allmenu .allbg{height:5px;width:1018px;background:#22B8C7;position:absolute;left:2px;bottom:3px;}
a.allMenuClose{position:absolute; right:10px; top:10px;}
/* 알림창 */
.anceWrap{width:964px;margin:0 auto 34px;}
.anceWrap:after{content:"";display:block;clear:both;}
div.allmenu div.anceWindow{position:relative; padding:27px 0 0 0; width:1024px;}
div.allmenu div.anceWindow:after{content:"";display:block;clear:both;}
div.allmenu div.anceWindow .anceDetial{width:555px;float:left;}
div.allmenu div.anceWindow .anceDetial h2{border-bottom:1px solid #dedede;color:#01509f;font-size:14px;padding-bottom:9px;}
div.allmenu div.anceWindow .anceDetial .scroll{height:190px;line-height:18px;overflow:scroll;overflow-x:hidden;padding:9px 2px;}
div.allmenu div.anceWindow .anceScroll{width:311px;padding-right:20px;height:190px;line-height:18px;overflow:scroll;overflow-x:hidden;}

div.allmenu div.anceWindow .anceAlim {width:378px;float:left;background:url(../img/common/bg_arrow_l.gif) no-repeat 27px center;padding-left:67px;}
div.allmenu div.anceWindow .anceAlim h2{background:url(../img/common/ico_alim1.gif) no-repeat 0 center;font-size:14px;margin-bottom:4px;padding-left:34px;line-height:24px;}
div.allmenu div.anceWindow .anceAlim ul {height:190px;overflow:scroll;overflow-x:hidden;width:311px;padding-right:20px;}
div.allmenu div.anceWindow .anceAlim ul li{border-top:1px solid #dedede;height:26px;line-height:26px;position:relative;background:url(../img/common/blt_grayDot.gif) no-repeat 0 center;padding-left:7px;}
div.allmenu div.anceWindow .anceAlim ul li:first-child{border-top:0;}

div.allmenu div.anceWindow .anceAlim ul li .img{display:block;width:287px;}
div.allmenu div.anceWindow .anceAlim ul li.new{background:url(../img/common/blt_grayDot.gif) no-repeat 0 center;padding-left:7px;color:#01509f;}
div.allmenu div.anceWindow .anceAlim ul li.new .img{background:url(../img/common/ico_alim2.gif) no-repeat 0 center;display:block;padding-left:20px;width:287px;}
div.allmenu div.anceWindow .anceAlim ul li.new .img:after{content:"";display:block;clear:both;}
div.allmenu div.anceWindow .anceAlim ul li.new .img a{float:left;color:#01509f;width:175px;display:inline-block;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
div.allmenu div.anceWindow .anceAlim ul li.new .date{width:70px;text-align:right;float:right;}

div.allmenu div.anceWindow .dayClose{border-top:1px solid #dedede;height:31px;line-height:31px;background:#fbfbfb;width:1018px;position:relative;margin:0 auto 8px;padding:0 0 0 10px;}
div.allmenu div.anceWindow .dayClose input[type="checkbox"]{margin:-2px 10px 0 0;}

/* 전체메뉴 */
div.siteMenu{padding:39px 0 0 0; width:1024px;display:none;}
div.siteMenu > ul{overflow:hidden;width:922px;margin:0 auto 30px;}
div.siteMenu > ul > li{width:194px; float:left; border-left:1px solid #fff; font-size:0; line-height:0; border-right:1px solid #dfdfdf; height:362px;}
div.siteMenu > ul > li.siteMenuLips{width:338px;} 
div.siteMenu > ul > li.siteMenuLips > ul{float:left;}
div.siteMenu > ul > li.last{border-right:0;}
div.siteMenu > ul > li.last a{border-right:1px solid #dedede;}
div.siteMenu > ul > li > a{border:1px solid #dfdfdf;  display:block; color:#22b8c7; font-size:16px; height:30px; line-height:30px; border-left:0; background:#f7f7f7; text-align:center; border-right:0;}
div.siteMenu > ul > li:first-child a{border-left:1px solid #dfdfdf;}
div.siteMenu > ul ul{margin:14px 0 0 43px;}
div.siteMenu > ul ul > li{margin:0 0 8px 0;}
div.siteMenu > ul ul li a{font-size:14px; color:#707070; border:0 !important; background:url(../img/common/blt_grayDot.gif) no-repeat 0 7px; padding-left:9px; line-height:15px;}
div.siteMenu > ul ul ul{margin:7px 0 0 0;}
div.siteMenu > ul ul ul li{margin:0}
div.siteMenu > ul ul ul li a{font-size:12px; color:#a2a2a2; border:0;background:url(../img/common/blt_minusBk.gif) no-repeat 0 8px; line-height:16px;}

div.siteMenu .siteIcon {width:1018px;height:53px;background:#fbfbfb;border-top:1px dashed #dfdfdf;margin:0 auto 8px;position:relative;}
div.siteMenu .siteIcon > ul{position:absolute;right:20px;top:0;}
div.siteMenu .siteIcon li{float:left;padding:0 0 0 22px;margin-left:13px;}
div.siteMenu .siteIcon li{background:url(../img/common/bg_sm_icon.gif) no-repeat 0 center;}
div.siteMenu .siteIcon li:first-child{background:none;}
div.siteMenu .siteIcon li a{padding:0 0 0 38px;display:block;height:52px;line-height:52px;}
div.siteMenu .siteIcon li a.sm1{background:url(../img/common/ico_sm1.gif) no-repeat 0 center;}
div.siteMenu .siteIcon li a.sm2{background:url(../img/common/ico_sm2.gif) no-repeat 0 center;}
div.siteMenu .siteIcon li a.sm3{background:url(../img/common/ico_sm3.gif) no-repeat 0 center;}
div.siteMenu .siteIcon li a.sm4{background:url(../img/common/ico_sm4.gif) no-repeat 0 center;}

/* 상단검색  */
div.Tsearch{clear:both; background-color:#f4f4f4; height:39px; padding:0 0 0 9px; border-left:1px solid #d7d7d7;border-right:1px solid #d7d7d7; width:330px;}
div.Tsearch form fieldset{display:block; height:39px;}
button.searchMore{background:url(../img/common/btn_gnb_user.gif) no-repeat 0 0; width:21px; height:24px; margin-left:8px;}
button.userMore{background:url(../img/common/btn_gnb_list.gif) no-repeat 0 0; width:21px; height:24px;margin-left:6px;}

div.Tsearch .btnTsearch{padding-top:8px;float:left;width:230px;}
div.Tsearch input[type="image"],
div.Tsearch input[type="text"]{vertical-align:top;}
div.Tsearch button.searchMore, div.Tsearch button.userMore{vertical-align:top;}
div.Tsearch span.Name{ height:39px; line-height:39px; position:relative; display:inline-block; width:88px; text-align:center; vertical-align:top;color:#00ade2;float:right;}
div.Tsearch span a{text-decoration:none; color:#00ade2; font-weight:bold;display:block; letter-spacing:-1px; background:url(../img/common/ico_nameArrow.gif) no-repeat 90% 50%;}

/* 검색결과 회원리스트 출력 */
div.personInfoArea{position:absolute; top:90px;overflow:hidden; background:#f7f7f7; z-index:222; border:1px solid #22b8c7; border-top:0; width:795px;}

/* 기계약 하나만 보여질때 */
div.personOne{width:428px;padding-bottom:36px;}
div.PersonCont{position:absolute;z-index:200;top:-450px;float:left; width:368px; padding:20px 20px 53px 20px; background:#fff; border:1px solid #22b8c7; border-top:0;height:512px;}
div.PersonCont.opened {top: 90px;}
ul.personList li{border-bottom:1px solid #e8e9e9; line-height:37px; height:37px; position:relative; overflow:hidden;}
ul.personList li a{display:block;}
ul.personList li span{display:inline-block;} 
ul.personList li span.sut{color:#3199d6; font-size:11px; background:url(../img/common/bg_sutBar.gif) no-repeat 100% 50%; width:62px; text-align:center; margin-right:13px;}
ul.personList li span.name{font-weight:bold;}
ul.personList li span.Rnum{float:right; padding-right:42px;}
ul.personList li button.btn_delst1{position:absolute; right:11px; top:11px;}
button.btn_delst1{background:url(../img/common/btn_delst2.gif) no-repeat 0 0; width:18px; height:18px;}
button.btn_delst1 span{display: block; overflow: hidden; position: absolute; top: 0; left: 0; width: 0; height: 0; border: 0; background: none !important; font-size: 0; line-height: 0;}
/* 고객정보 호버시 */
ul.personList li.hover{background-color:#e4edf2;}
ul.personList li.hover span.sut{color:#2c8ecb; background-image:url(../images/common/bg_sutBar_hover.gif);}
ul.personList li.hover span.name{color:#000000;}

/* 창이 두개가 될경우 */
div.PersonCont.opened + div.personDetail.opened{border-left:1px solid #dedede;}

/* svn 수정 20140423*/
div.personDetail{position:absolute;z-index:190;top: -525px;left: 170px;background-color:#f7f7f7;padding:47px 20px 20px 
30px;float:left;width:408px;border:1px solid #22b8c7;border-top:0;height:512px;}
.ie8 div.personDetail{top:-531px;}
/* svn 수정 20140423*/

/*.PersonCont{display:none;}*/
div.personDetail.opened {top: 90px;}
div.personDetail.from-result-before {left: 0px;}
div.personDetail.from-result-after {left: 367px;}
dl.pernalInfo{margin:0 0 18px 0;}
dl.pernalInfo dt{color:#3199d6; padding:0 0 5px 0;}
dl.pernalInfo dt strong{font-size:18px; color:#333;}
dl.pernalInfo dd.sutIcon{background:url(../img/common/bg_sutIcon.gif) no-repeat 0 0; width:34px; height:30px; text-align:center; color:#fff; line-height:30px; font-size:11px; position:absolute; left:0; top:0;}

/* 고객정보 테이블 */
table.InfoTable{border:0;}
table.InfoTable tr:first-child th,
table.InfoTable tr:first-child td{border-top:0;}
table.InfoTable th,
table.InfoTable td{border-top:1px solid #dedede; border-left:0; padding:7px 0;}
table.InfoTable th{color:#545454; background-image:none; text-align:left;}
table.InfoTable td{color:#979797; border-right:0;}

div.InfoScroll{height:228px;overflow:scroll;overflow-x:hidden;border-bottom:1px solid #dedede;}

table.smarTable th{
  background-color: #f3f4f5;
  background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc5MzQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGM0Y0RjUiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNFQUVCRUQiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c5MzQpIiAvPgo8L3N2Zz4=);
}

/* 알림 */
dl.pNnotice{padding:8px 0; overflow:hidden;
	background:url(../img/common/bg_pnotice.gif) #fff repeat-y 0 0;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	border:1px solid #d2d2d2;
}
dl.pNnotice dt{width:81px; float:left; text-align:center;font-size:13px;font-weight:bold;line-height:54px;color:#1f1f1f;}
dl.pNnotice dd{margin-left:82px; padding-left:14px;}
dl.pNnotice dd ul li{line-height:18px;}
dl.pNnotice dd ul li.listcc{background:url(../img/common/blt_circle.gif) no-repeat 0 center;padding-left:15px;color:#66667D;}
dl.pNnotice dd ul li.pnOrg{color:#EA5A2E;}
dl.pNnotice dd ul li.listcc span{color:#66667D;}

button.userInfoclose{background:url(../img/common/btn_userInfoclose.gif) no-repeat 0 0; width:35px; height:35px; position:absolute; right:0; top:0;}

/* 기계약버튼 */
div.personBtn{text-align:center; margin-top:10px;}
div.personBtn a{margin-left:4px;}
div.personBtn a:first-child{margin-left:0;}
div.personBtn .lgBeR1{padding:7px 10px;}
div.personBtn .lgGyR1{padding:7px 10px;}

/* 컨텐츠 */
#conteiner{width:1024px; margin:20px auto 0; position:relative; min-height:450px; padding-bottom:40px;}
#conteiner div.hgroup{position:relative;margin-bottom:20px; height:23px; line-height:23px;}
#conteiner div.hgroup.mtB0{margin-bottom:0;}
#conteiner div.hgroup h2{font-size:24px;color:#363636; float:left; font-weight:bold;}

#conteiner div.pageTit{overflow:hidden; float:left;}
#conteiner div.pageTit h2{font-size:24px;color:#363636; float:left;font-weight:bold;}
#conteiner div.pageTit span.entry{float:left; margin:0 10px 0 9px; padding:0 0 0 3px; background:url(../img/common/bg_tit.png) no-repeat 0 100%; }
#conteiner div.pageTit span.entry input{ width:auto;}
#conteiner div.pageTit span.entry .entryBg{background:url(../img/common/bg_tit.png) no-repeat 100% 100%; padding:0 3px 3px 0;  display:block;}
#conteiner div.pageTit input {border:1px solid #fff; line-height:19px;}
#conteiner div.pageTit input:focus{border:1px solid #dedede;}
 
#conteiner .location{position:absolute;right:0;top:0;}
#conteiner .location li {float:left; font-size:11px;}
#conteiner .location li a {text-decoration:none; color:#707070; line-height:23px; height:23px;}
#conteiner #contents {width:100%; min-height:450px;}
#conteiner #contents ul.tab01{margin:0 0 8px 0; overflow:hidden;}
#conteiner #contents .left{float:left; width:270px;position:relative;}
#conteiner #contents .right{float:right; width:733px}
#conteiner #contents h3{color:#363636; font-size:16px; margin:8px 0; letter-spacing:-1px; font-weight:bold;}

/* 체크리스트 */
#checkList{background-color:#22b8c7; width:1024px; height:40px; margin:0 auto; position:absolute;left:50%;bottom:62px;margin-left:-512px;z-index:2222;}
#checkList.fixed{position:fixed; bottom:0;}
#checkList h2{float:left;}
#checkList h2 a{display:block;width:150px;height:40px;line-height:40px;font-size:14px;font-weight:bold;color:#bdf1ff;background:url(../img/common/blet4.gif) #1d5d6f no-repeat 30px center;text-align:right;padding-right:20px;}
#checkList ul.h2List li a{float:left;padding:0 15px;letter-spacing:-1px;display:block;height:40px;line-height:40px;font-size:14px;font-weight:bold;color:#bdf1ff;background:#1d5d6f;border-left:1px solid #4a7d8c;}
#checkList ul.h2List li:first-child a{border-left:0;}
#checkList ul.list {float:right;}
#checkList ul.list li {float:left; height:40px; line-height:40px; text-align:center; border-left:1px solid #1fa5b3;}
#checkList ul.list li a{color:#fff; font-size:14px; border-left:1px solid #4ec6d2; display:block; padding:0 15px;background:#22B8C7 !important;} 
#checkList ul.list li a:hover{text-decoration:none !important;}
#checkList ul.list li a.on{color:#fff; border-left:1px solid #33b4cl; display:block;background-color:#00a1b1;} 
#checkList ul.list li.quB {text-align:right;}
#checkList ul.list li.quB a{border-left:0;padding:0;}

.checkPopMenu{width:1024px; background:#fff; position:absolute;left:0 !important;bottom:40px !important; height:auto !important; top:inherit !important; padding:0 !important;}
.checkPopMenu .ui-dialog-content{padding:0 !important;}

.listMenu{width:1024px !important;border:1px solid #dedede; border-top:5px solid #22b8c7; background:#fff;padding:0 !important;}
.listMenu .checkHeader{height:40px; font-size:14px; color:#363636; border-bottom:1px solid #dedede;padding-left:10px;position:relative;}
.listMenu .checkHeader h3{line-height:40px;}
.listMenu .checkHeader .btnModal{position:absolute;right:35px;top:5px;}
.listMenu span{padding-left:20px;font-size:12px;}
.listMenu .checkContainer{padding:10px;}
.listMenu .checkContainer:after{content:"";display:block;clear:both;}
.listMenu .enter{position:absolute;right:11px;top:12px;}

/* 퀵메뉴 */
div#quick{width:50px; position:absolute; right:-70px; top:23px; background:#fff; overflow:hidden;}
body.main div#quick{top:17px;}
div#quick h2{background-color:#7ad4dd; color:#fff; height:25px; border-top-left-radius:2px; -webkit-border-top-left-radius:2px; -moz-border-top-left-radius:2px; -ms-border-top-left-radius:2px;
	border-top-right-radius:2px; -webkit-border-top-right-radius:2px; -moz-border-top-right-radius:2px; -ms-border-top-right-radius:2px; border:1px solid #5fb8c1; font-size:11px; position:relative; z-index:1;}
div#quick h2 span{display:block;border-top:1px solid #8edfe7; line-height:22px; text-align:center;}
div#quick ul{}
div#quick li{height:60px; border:1px solid #d2d2d2; border-top:0; text-align:center;}
div#quick li a{display:block; border-top:1px solid #f7f7f7; line-height:12px; font-size:11px; color:#828282;  background:url(../img/common/bg_quick1.gif) no-repeat 50% 5px; padding-top:30px; height:59px;}
div#quick li.q02 a{background-image:url(../img/common/bg_quick2.gif);}
div#quick li.q03 a{background-image:url(../img/common/bg_quick3.gif);}
div#quick li.q04 a{background-image:url(../img/common/bg_quick4.gif);}
div#quick li.q05 a{background-image:url(../img/common/bg_quick5.gif); background-color:#f2f2f2;}
div#quick li.q06 a{background-image:url(../img/common/bg_quick6.gif); background-color:#f2f2f2;}

a.quickBtn{display:block; background-color:#dbdbdb; color:#9d9d9d; height:25px; border-bottom-left-radius:2px; -webkit-border-bottom-left-radius:2px; -moz-border-bottom-left-radius:2px; -ms-border-bottom-left-radius:2px;
	border-bottom-right-radius:2px; -webkit-border-bottom-right-radius:2px; -moz-border-bottom-right-radius:2px; -s-border-bottom-right-radius:2px; border:1px solid #a7a7a7; font-size:11px; border-top:1px solid #a7a7a7;
	padding:0 5px 0 0;}
a.quickBtn span{display:block; border-top:1px solid #eeeeee; line-height:22px; text-align:center; background:url(../img/common/bg_quickArrow_up.gif) no-repeat 100% 10px;}

a.quickBtn.close span{background-image:url(../img/common/bg_quickArrow_down.gif);}



/* 푸터 */
#footer {background:url(../img/common/bg_line2.gif) repeat-x 0 0; height:62px; width:100%; clear:both;}
#footer .fter{width:1024px; height:63px; margin:0 auto;}
#footer h2{float:left;}
#footer span{float:right;}