/* device */
.hide-on-mobile {
    display: none !important;
}

html {
    font-family: Tahoma,Geneva,sans-serif;
    overflow-y : visible;
}

input[type="text"],
input[type="password"] {
    -webkit-appearance : none;
}

input,
select{
    border-radius: 0;
}

select{
    padding: 0 8px;
}


/* float */
.m-fn {float: none !important;}
.m-fr {float: right !important;}
.m-fl {float: left !important;}

/* align */
.m-tac { text-align:center !important; }
.m-tal { text-align:left !important;   }
.m-tar { text-align:right !important;  }
.m-vam { vertical-align:middle;}
.m-vm { vertical-align: middle !important;}
.m-vat { vertical-align: top !important;}

/* position */
.m-pr {position: relative;}

/* font-size */
.m-f11 {font-size: 11px !important;}
.m-f12 {font-size: 12px !important;}
.m-f13 {font-size: 13px !important;}
.m-f14 {font-size: 14px !important;}
.m-f15 {font-size: 14px !important;}
.m-f16 {font-size: 14px !important;}

/* letter spacing */
.m-ls-1 {letter-spacing: -1px}
.m-ls0 {letter-spacing: -1px}

/* line-height */
.m-lh1 {line-height: 1.3em !important;}

/* margin */
.m-mg0 {margin:0 !important}
.m-mt-10 {margin-top: -10px !important; }
.m-mt-1 {margin-top: -1px !important; }
.m-mt0 {margin-top: 0 !important; }
.m-mt3 {margin-top: 4px !important;}
.m-mt4 {margin-top: 4px !important;}
.m-mt5 {margin-top: 5px !important;}
.m-mt8 {margin-top: 8px !important;}
.m-mt10 {margin-top: 10px !important;}
.m-mt13 {margin-top: 13px !important;}
.m-mt15 {margin-top: 15px !important;}
.m-mt20 {margin-top: 20px !important;}
.m-mt22 {margin-top: 22px !important;}
.m-mt25 {margin-top: 25px !important;}
.m-mt30 {margin-top: 30px !important;}
.m-mt35 {margin-top: 35px !important;}
.m-mt40 {margin-top: 40px !important;}
.m-mt45 {margin-top: 45px !important;}
.m-mt50 {margin-top: 50px !important;}
.m-mt80 {margin-top: 80px !important;}

.m-mb0 {margin-bottom: 0 !important; }
.m-mb3 {margin-bottom: 3px !important; }
.m-mb5 {margin-bottom: 5px !important; }
.m-mb10 {margin-bottom: 10px !important; }
.m-mb15 {margin-bottom: 15px !important; }
.m-mb20 {margin-bottom: 20px !important; }
.m-mb25 {margin-bottom: 25px !important; }
.m-mb28 {margin-bottom: 28px !important; }
.m-mb30 {margin-bottom: 30px !important; }
.m-mb35 {margin-bottom: 35px !important; }
.m-mb40 {margin-bottom: 40px !important; }
.m-mb45 {margin-bottom: 45px !important; }
.m-mb50 {margin-bottom: 50px !important; }
.m-mb55 {margin-bottom: 55px !important; }
.m-mb60 {margin-bottom: 60px !important; }
.m-mb70 {margin-bottom: 70px !important; }
.m-mb80 {margin-bottom: 80px !important; }
.m-mb-40 {margin-bottom: -40px !important; }

.m-ml0 {margin-left: 0px !important;}
.m-ml1 {margin-left: 1px !important;}
.m-ml4 {margin-left: 4px !important;}
.m-ml5 {margin-left: 5px !important;}
.m-ml6 {margin-left: 6px !important;}
.m-ml10 {margin-left: 10px !important;}
.m-ml12 {margin-left: 12px !important;}
.m-ml15 {margin-left: 15px !important;}
.m-ml20 {margin-left: 20px !important;}
.m-ml25 {margin-left: 25px !important;}
.m-ml30 {margin-left: 30px !important;}
.m-ml35 {margin-left: 35px !important;}
.m-ml40 {margin-left: 40px !important;}
.m-ml45 {margin-left: 45px !important;}
.m-ml50 {margin-left: 50px !important;}
.m-ml80 {margin-left: 80px !important;}

.m-mr0 {margin-right: 0 !important;}
.m-mr1 {margin-right:1px !important;}
.m-mr4 {margin-right: 4px !important;}
.m-mr5 {margin-right:5px !important;}
.m-mr1 {margin-right:1px !important;}
.m-mr8 {margin-right:8px !important;}
.m-mr10 {margin-right:10px !important;}
.m-mr15 {margin-right:15px !important;}
.m-mr20 {margin-right:20px !important;}
.m-mr25 {margin-right:25px !important;}
.m-mr30 {margin-right:30px !important;}
.m-mr40 {margin-right:40px !important;}
.m-mr50 {margin-right:50px !important;}


/* padding */
.m-p0 {padding: 0px !important;}
.m-p5 {padding: 5px !important;}
.m-p10 {padding: 10px !important;}

.m-pt5 {padding-top:5px !important;}
.m-pt10 {padding-top:10px !important;}
.m-pt15 {padding-top:15px !important;}
.m-pt20 {padding-top:20px !important;}
.m-pt25 {padding-top:25px !important;}
.m-pt30 {padding-top:30px !important;}
.m-pt40 {padding-top:40px !important;}
.m-pt50 {padding-top:50px !important;}

.m-pb0 {padding-bottom:0 !important;}
.m-pb5 {padding-bottom:5px !important;}
.m-pb10 {padding-bottom:10px !important;}
.m-pb15 {padding-bottom:15px !important;}
.m-pb20 {padding-bottom:20px !important;}
.m-pb25 {padding-bottom:25px !important;}
.m-pb30 {padding-bottom:30px !important;}

.m-pl0 {padding-left:0px !important;}
.m-pl5 {padding-left:5px !important;}
.m-pl8 {padding-left:8px !important;}
.m-pl10 {padding-left:10px !important;}
.m-pl12 {padding-left:12px !important;}
.m-pl15 {padding-left:15px !important;}
.m-pl19 {padding-left:19px !important;}
.m-pl20 {padding-left:20px !important;}
.m-pl25 {padding-left:25px !important;}
.m-pl30 {padding-left:30px !important;}
.m-pl50 {padding-left:50px !important;}

.m-pr0 {padding-right:0px !important;}
.m-pr5 {padding-right:5px !important;}
.m-pr10 {padding-right:10px !important;}
.m-pr15 {padding-right:15px !important;}
.m-pr20 {padding-right:20px !important;}
.m-pr25 {padding-right:25px !important;}
.m-pr30 {padding-right:30px !important;}
.m-pr80 {padding-right:80px !important;}
.m-pr110 {padding-right:110px !important;}

/*width*/
.m-wa { width:auto !important;}
.m-w4p { width:4% !important; }
.m-w5p { width:5% !important; }
.m-w10p { width:10% !important; }
.m-w13p { width:13% !important; }
.m-w15p { width:15% !important; }
.m-w20p { width:20% !important; }
.m-w25p { width:25% !important; }
.m-w30p { width:30% !important; }
.m-w35p { width:35% !important; }
.m-w40p { width:40% !important; }
.m-w43p { width:43% !important; }
.m-w48p { width:48% !important; }
.m-w50p { width:50% !important; }
.m-w55p { width:55% !important; }
.m-w60p { width:60% !important; }
.m-w80p { width:80% !important; }
.m-w85p { width:85% !important; }
.m-w100p { width:100% !important; }
.m-w50 { width:50px !important; }
.m-w60 { width:60px !important; }
.m-w70 { width:70px !important; }
.m-w80 { width:80px !important; }
.m-w90 { width:90px !important; }
.m-w100 { width:100px !important; }
.m-w120 { width:120px !important; }
.m-w125 { width:125px !important; }
.m-w140 { width:140px !important; }
.m-w150 { width:150px !important; }
.m-w160 { width:160px !important; }
.m-w170 { width:170px !important; }
.m-w180 { width:180px !important; }
.m-w200 { width:200px !important; }
.m-w250 { width:250px !important; }
.m-w260 { width:260px !important; }
.m-w300 { width:300px !important; }
.m-w350 { width:350px !important; }
.m-w400 { width:400px !important; }
.m-w465 { width:465px !important; }
.m-w500 { width:500px !important; }

/*height*/
.m-ha {height:auto !important;}
.m-h5 { height:5px !important;}
.m-h10 { height:10px !important;}
.m-h15 { height:15px !important;}
.m-h20 { height:20px !important;}
.m-h25 { height:25px !important;}
.m-h30 { height:30px !important;}
.m-h35 { height:35px !important;}
.m-h40 { height:40px !important;}
.m-h55 { height:55px !important;}
.m-h70 { height:70px !important;}
.m-h105 { height:105px !important;}
.m-h250 { height:250px !important;}
.m-h300 { height:300px !important;}

/* border */
.m-brd0 {border: 0px !important; }
.m-blt0 {border-top: 0px !important; }
.m-blt2 {border-top: 2px solid #333 !important; }
.m-blb0 {border-bottom: 0px !important; }
.m-blb1 {border-bottom: 1px solid #d1d1d1 !important; }
.m-bll1 {border-left: 1px solid #d1d1d1 !important; }
.m-blb-dashed {border-bottom: 1px dashed #d1d1d1 !important; }

/* mobile flex box */
.m-flex {
    display: -webkit-box !important;
    display: -webkit-flex !important;
}

.m-flex-1 {
    display: block;
    min-width: 0 !important;
    -webkit-box-flex: 1 !important;
    -webkit-flex : 1 !important;
}

.m-flex-2 {
    display: block;
    min-width: 0 !important;
    -webkit-box-flex: 2 !important;
    -webkit-flex : 2 !important;
}

.m-flex-3 {
    display: block;
    min-width: 0 !important;
    -webkit-box-flex: 3 !important;
    -webkit-flex : 3 !important;
}

.m-flex-4 {
    display: block;
    min-width: 0 !important;
   -webkit-box-flex: 4 !important;
   -webkit-flex : 4 !important;
}

.m-flex-center {
    -webkit-justify-content: center;
    justify-content:center;
    -webkit-align-items: center;
    align-items: center;
    display: block !important;
    text-align: center !important;
}

.m-flex-center > * {
    float: left;
    margin-left: 10px;
}

.m-flex-center > *:first-child {
    margin-left: 0px;
}

/* display */
.m-dpb { display:block !important}
.m-dpi , .m-inline {display: inline !important;}
.m-dpib {display: inline-block !important;}
.m-clearnone {clear: none !important;}
.m-wb {word-break:break-word;white-space: pre;}