.ci-tab {
	padding: 0;
	margin: 0;
	position: relative;
	height: 100%;
	width: 100%;
	border: none;
	margin-bottom: 35px;
}

/**tab base*/
.ci-tab .tab-selector {
	height: 25px;
	margin: 0;
	padding: 0;
	border-top: none;
}

.ci-tab .tab-selector>li {
	background: #fff;
	list-style: none;
	float: left;
	margin: 0;
	text-align: center;
	padding: 0;
}

.ci-tab .tab-selector>li.ci-tab-disabled {
	background: #e1e1e1;
}

.ci-tab .tab-selector>li:first-child {
	margin-left: 0px;
}

.ci-tab .tab-selector li a {
	height: 100%;
	width: 100%;
	display: block;
	text-decoration: none;
	color: #ccc;
}

.ci-tab .tab-selector li.ci-tab-disabled a {
	color: #808080;
}

.ci-tab .tab-selector li.active {
	
}

.ci-tab .tab-selector li.active a {
	color: #333;
	padding-right: 0;
	background: none;
}

.ci-tab .tab-panel {
	clear: both;
}

.ci-tab .tab-panel>li {
	list-style: none;
	display: none;
}

.ci-tab .tab-panel>li.active {
	display: block;
}

.tab-panel>li.ajax-mode {
	display: block;
}


/* mobile용 */
.tab-selector-wrapper {
	background-image: url('/WEB-APP/webponent/tab/bg_tab_underline.png');
	background-size: 1px 1px;
	background-position: bottom;
	background-repeat: repeat-x;
}

.tab-selector-left-arrow {
	height: 41px;
	width: 28px;
	position: absolute;
	left: 0;
	top: 0;
	background-image: url('/WEB-APP/webponent/tab/btn_tab_l.png');
	z-index: 2001;
	background-size: 28px 41px;
	background-repeat: no-repeat;
}

.tab-selector-right-arrow {
	height: 41px;
	width: 28px;
	position: absolute;
	right: 0;
	top: 0;
	background-image: url('/WEB-APP/webponent/tab/btn_tab_r.png');
	z-index: 2001;
	background-size: 28px 41px;
	background-repeat: no-repeat;
}