@charset "utf-8";

/* popup */
#popWrap{position:relative;}
#popWrap h1{display: block; overflow:hidden; position:absolute; top: 0; left: 0;width: 0;height: 0;border:0;background: none !important; font-size: 0; line-height: 0;}
#popWrap .popContents{padding:0 20px; /*height:640px; overflow-y:scroll; overflow-x:hidden;*/} /* 팝업길이 픽스! 640이상길어지면 스크롤처리 */

.popTit{position:relative;margin-bottom:5px;}
.popTit p.tit{font-size:14px;color:#363636;}
.popTit p.gap{padding-top:3px;}
.popTit p.gap span{margin-left:10px;display:inline-block;}
.popTit p.gap span:first-child{margin-left:0;}
.popTit span.txt{font-size:12px;color:#707070;}
.popTit .more{position:absolute;right:0;top:0;font-weight:bold;}
.popTit h2{font-size:16px; font-weight:bold; color:#363636;}
.popTit .colorLg{color:#079EB1;}

/*==========================
   팝업 레이아웃 type2
============================*/
div#PopWrap2{ border:1px solid #64ade5; border-bottom:1px solid #d6d6d6; background:#fff;  position:relative;}
div#PopWrap2 div.popHeader{height:36px; background:#f7f7f7; border-bottom:1px solid #e5e6e8; padding-left:9px; line-height:35px; color:#000;}
div#PopWrap2 h1{margin:0 !important; color: #363636; font-size: 16px; font-weight: bold; letter-spacing: -1px; margin: 8px 0;}
div#PopWrap2 div.popcontent{padding:10px 9px 9px 9px; border-bottom:1px solid #64ade5;}
div#PopWrap2 div.popcontent .table1{border:1px solid #dedede;}
div#PopWrap2 a.btnClosePopup{position:absolute; right:9px; top:7px;}

/* Layer popup type2 - 일정표전용 팝업 */
div.layerPopWrap2{position:absolute; border:1px solid #64ade5; border-bottom:1px solid #d6d6d6; background:#fff; left:0; top:0; display:none;}
div.layerPopWrap2 div.layerPopHdr{height:36px; background:#f7f7f7; border-bottom:1px solid #e5e6e8; padding-left:9px; line-height:35px; color:#000;}
div.layerPopWrap2 h3{margin:0 !important;}
div.layerPopWrap2 div.layerPopCnt{padding:10px 9px 9px 9px; border-bottom:1px solid #64ade5;}
div.layerPopWrap2 div.layerPopCnt .table1{border:1px solid #dedede;}
div.layerPopWrap2 a.btnClosePopup{position:absolute; right:9px; top:7px;}

/* 팝업 레이아웃 type3 */
#factWrap{position:relative;}
#factWrap .fanWrap:after{content:"";display:block;clear:both;}
#factWrap h1{background:#22b8c7;height:43px;border-bottom:10px solid #01509f;font-size:36px;font-weight:bold;color:#fff;padding:7px 0 0 20px;letter-spacing:-1px;}
#factWrap div.mainTabZone:after{content:"";display:block;clear:both;}
#factWrap div.mainTabZone .popTit h2{font-size:16px;border-bottom:1px solid #dedede;padding-bottom:8px;}
#factWrap div.mainTabZone .left .popTit h2{width:220px;}
#factWrap div.mainTabZone .right .popTit h2{width:600px;margin-left:20px;}
#factWrap .popContents{padding:20px; /*height:640px; overflow-y:scroll; overflow-x:hidden;*/} /* 팝업길이 픽스! 640이상길어지면 스크롤처리 */
#factWrap .popContents .txt{color:#6c99c6;}
#factWrap .popContents .txtN{color:#707070;font-size:12px;font-weight:normal;}
#factWrap a.btnClose{position:absolute;right:20px;top:10px;}
#factWrap ul.finance {background:#f8f8f8;height:34px;line-height:34px;border-bottom:1px solid #bebebe;padding-left:20px;}
#factWrap ul.finance:after{content:"";display:block;clear:both;}
#factWrap ul.finance li{font-size:14px;float:left;}
#factWrap ul.finance li a{border-left:1px solid #bebebe;padding:0 7px;}
#factWrap ul.finance li:first-child a{border-left:0;padding:0 7px 0 0;}
#factWrap ul.finance li.active a{color:#01509f;}
#factWrap .importForm{width:710px;margin:0 auto;}
#factWrap div.bderT{margin-top:20px;border-top:1px solid #dedede;padding-top:10px;}
#factWrap h3{font-size:14px;height:24px;line-height:14px;margin-top:10px;}
#factWrap div.left{width:241px;float:left;}
#factWrap div.right{width:620px;float:right;}
#factWrap div.right div.juContact {border-left:1px solid #dedede;padding-left:20px;}
#factWrap div.right div.juContact .more1{position:absolute;left:0;top:3px;}
#factWrap div.juContact .more{position:absolute;right:0;top:3px;}
#factWrap .fanWrap table td.child1{background:url("/img/common/icon_child1.gif") no-repeat scroll 5px center;padding-left:20px;}
#factWrap .fanWrap table td.child2{background:url("/img/common/icon_child2.gif") no-repeat scroll 5px center;padding-left:20px;}

/* 팝업공통 */
.bderL{border-left:1px solid #dedede !important;}
.popBox{margin:10px 0;padding:10px 0 10px 20px;border:1px solid #dedede;}
.popBox span.fLset1 input{margin-left:40px;}
.popBox span.fLset1 input:first-child{margin-left:0;}
.colorLBe{color:#6c99c6;}
.btnWrap1{clear:both;position:relative;margin-top:10px;height:24px;line-height:14px;}
.btnWrap1 span.textL{font-size:12px;margin-left:2px;}
.btnWrap1 span.textR{font-size:12px;margin-left:2px;position:absolute;right:0;top:0;}

/*==========================
  smartCrm - 일정표
============================*/
/* 활동관리 & 개인일정 radio*/

span.carAtvSel{line-height:35px; display:inline-block; padding-left:9px;}
span.carAtvSel label{color:#363636; margin:0 20px 0 4px; font-weight:bold;}

/* 활동관리 & 개인일정 고객명 검색 */
span.carAtvSearch{line-height:22px; display:block;}
span.carAtvSearch a{float:right;}

/* 일정표 스케줄리스트 더보기 */
ul.smWorkList li{padding-left:16px; line-height:17px;}
ul.smWorkList li.wkicon1{background:url(/img/sub/wkicon1.gif) no-repeat 0 0;}
ul.smWorkList li.wkicon2{background:url(/img/sub/wkicon2.gif) no-repeat 0 0;}
ul.smWorkList li.wkicon3{background:url(/img/sub/wkicon3.gif) no-repeat 0 0;}


/* 검색 */
dl.searchZone{overflow:hidden; border:1px solid #dedede;}
dl.searchZone dt{
	text-align:center;
	font-weight:bold;
	height:30px; line-height:30px;
	float:left;
	width:110px;
	background-color: #f3f4f5;
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc0MjgiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGQUZBRkEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGMkYyRjIiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c0MjgpIiAvPgo8L3N2Zz4=);
}
dl.searchZone dd{margin-left:110px; height:30px; line-height:30px; padding:0 0 0 3px; border-left:1px solid #dedede;}
span.popSearchRlt{color:#000; line-height:15px; margin:20px 0 10px 0; display:block; font-size:14px; font-weight:bold;}


/* 적합성진단실시 */
.workBook{margin-top:20px;}
.workBook:after{content:"";display:block;clear:both;}
.workBook .wbL{float:left; margin-right:20px;width:420px;border:1px solid #dedede;height:610px;}
.workBook .wbR{float:right;width:420px;border:1px solid #dedede;height:610px;overflow:auto;overflow-x:hidden;}
.workBook .wbL, .workBook .wbR{width:420px;border:1px solid #dedede; padding:10px;}
.workBook .wbL ol > li, .workBook .wbR ol > li{margin-top:25px; color:#363636;}
.workBook .wbL ol li:first-child, .workBook .wbR ol li:first-child{margin-top:0;}
.workBook .wbL ul, .workBook .wbR ul{padding-left:12px;margin-top:15px;}
.workBook .wbL ul li:first-child, .workBook .wbR ul li:first-child{padding-top:0;}
.workBook .wbL ul li, .workBook .wbR ul li{padding-top:8px;text-indent:-16px;padding-left:16px; color:#707070;}
#popWrap .widSort:after {content:"";display:block;clear:both;}
#popWrap .widSort li:first-child{margin-left:0;}
#popWrap .widSort li input[type="radio"] {margin-left:10px;}
#popWrap .widSort li input:first-child[type="radio"] {margin-left:0;}
.workBook .widSix li label{width:150px; display:inline-block;padding-left:16px;}


ul.popTab{width:100%; border-bottom:2px solid #9d9d9d; height:28px;}
ul.popTab li{float:left;}
ul.popTab a{
	display:block;
	height:26px; line-height:26px; color:#424242; padding:0 9px;background-color:#fff;
	border-top-left-radius:2px;
	-webkit-border-top-left-radius:2px;
	-moz-border-top-left-radius:2px;
	-ms-border-top-left-radius:2px;
	border-top-right-radius:2px;
	-webkit-border-top-right-radius:2px;
	-moz-border-top-right-radius:2px;
	-ms-border-top-right-radius:2px;
	border:1px solid #dddfe0;
	border-bottom:0;
}
.popTab li.active a{background-color:#9d9d9d; color:#fff; border:1px solid #9d9d9d;}

.modify{position:relative; margin-top:20px;}
.modify .more{position:absolute;right:0;top:-52px;margin-top:0;}

/* 순서변경 */
.tableSwitch {float:right;margin-bottom:10px;}

/* 팝업리스트테이블 */
/* list  */
table.popListTable{}
table.popListTable {text-align:center;}
table.popListTable + h3{margin-bottom:20px;}
table.popListTable th{
	border-left:1px solid #dedede; 
	background-color: #f3f4f5;
	border-left:1px solid #dedede; 
	background-color: #f3f4f5;
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc0MjgiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGQUZBRkEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGMkYyRjIiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c0MjgpIiAvPgo8L3N2Zz4=);
}
table.popListTable th:first-child{border-left:0;}
table.popListTable tbody td{border-left:1px solid #dedede; border-top:1px solid #dedede; height:25px;}
.bderLN{border-left:0 !important;}

/*==========================
  스마트crm - 미리보기
============================*/
div.previewCont{min-height:490px;}

/*==========================
  스마트crm - 방문패키지
============================*/
div.headForm{height:29px; position:relative; text-align:right; margin-bottom:10px;}
div.headForm span.ResultSum{position:absolute; left:0; top:0; padding:0; height:29px; line-height:29px; display: block; font-size: 16px;  font-weight: bold;}
div.headForm select{vertical-align:middle;}

/*==========================
  EMAIL센터 - 팝업
============================*/
div.csstation{position:relative; min-height:100px;}
div.csstation ul.tab01{overflow:hidden; margin:0 0 20px 0; width:100%;}
div.emailWrap{width:900px;}
div.ReceiverZone{padding:6px 0 0 0;}
div.ReceiverZone .btnWrap span{position:absolute; left:0; top:0;}
div.ReceiverZone div.scrolling{ overflow-y:scroll; overflow-x:hidden; margin-top:5px;}
table.mailTable table th{background:#ddedef !important; background-image:none !important;}
table.mailTable table th,
table.mailTable table td{border-right:0; height:30px; padding:2px 0 3px 0; text-align:center;}

span.mailBtn{position:absolute; right:0; top:105px;}

div.templateList{overflow:hidden; margin:20px 0 0 0; border-bottom:1px solid #e8e9e9;}
div.templateList ul{margin-left:-15px; overflow:hidden;}
div.templateList li{float:left; margin-left:15px;}
div.templateList li span.img{display:block; border:1px solid #dedede; width:160px; height:120px; }
div.templateList li span.tmName{display:block; height:41px; padding:10px 0 0 0; text-align:center;}
div.templateList li span.tmName span{margin-left:4px;}

div.templateList.skin li span.img{border:0; width:160px; height:220px;}

/* Emailtable */
table.SendTable{margin:20px 0 0 0;}
table.SendTable th span {display:block; color:#e8404f;}

/* emailWrap */
div.emailWrap{width:900px;}
div.mainTabZone h4{font-size:16px; color:#363636; line-height:15px; height:15px; margin:20px 0; font-weight:bold;}

/* LP소식지 */
div.LpContent{}
div.LpContent ul.ctTab{margin:10px 0 0 0;}
div.LpContent table{margin:10px 0;}
div.LpEditor{border:1px solid #dedede; border-top:0; min-height:255px;}

/* popTable th가 높은값을 가질때 */
table .groupTit{
	background-size:100% 100%;
	background-color: #f3f4f5;
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc0MjgiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGQUZBRkEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGMkYyRjIiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c0MjgpIiAvPgo8L3N2Zz4=);
}

/* checkBoxList */
.chboxWrap:after{content:"";display:block;clear:both;}
.chboxWrap .chboxList{float:left;width:207px;border:1px solid #dedede;text-align:left;margin-left:4px;}
.chboxWrap .chType2{width:217px;}
.chboxWrap .chboxList:first-child{margin-left:0;}
.chboxWrap .chboxList tbody tr.tTit1{background:#d0ebee;}
.chboxWrap .chboxList tbody tr.tTit2{background:#f9f9f9;}
.chboxWrap .chboxList tbody td{padding:8px 0 8px 4px;border-top:1px solid #dedede;}
.chboxWrap .chboxList tbody td div{position:relative;}
.chboxWrap .chboxList tbody td.ch{text-align:center;border-right:1px solid #dedede; padding-left:0;}
.chboxWrap .chboxList tbody td span.tar1{position:absolute;right:4px;top:-4px;}
.chboxWrap .chboxList tbody td span.tar2{position:absolute;right:9px;top:0;}
.chboxWrap .chboxList tbody td label.bt1{background:url(/img/common/blet2.gif) no-repeat 0 center;padding-left:8px;}
.chboxWrap .chboxList tbody td.formTd{padding:3px 0 3px 4px;}

/* float테이블 */
.fitTable:after{content:"";display:block;clear:both;}
.fltTable table{float:left;margin-left:10px;}
.fltTable table:first-child{margin-left:0;}
.fltTable .fltTableR table{float:left;margin-top:10px;}
.fltTable .fltTableR table:first-child{margin-left:10px;margin-top:0;}

/* 합산 */
.sumWrap:after{content:"";display:block;clear:both;}
.sumWrap table{font-size:11px;}
.sumWrap table th.bderL, .sumWrap table td.bderL{border-left:1px solid #dedede;}
.sumWrap .popL{float:left;width:420px;margin-right:20px;}
.sumWrap .popR{float:right;width:420px;}
.sumWrap h2, .sumWrap p{line-height:12px;margin:8px 0;}
.sumWrap p{background:url(/img/common/blet_arrow.gif) no-repeat 0 center; padding-left:12px;}

/* 공적연금 */
div.contr table {border-top:0;border-bottom:0;}
div.contr table th, div.contr table td{border-top:1px solid #dedede;}
div.contr table td.areaN {border-top:0;border-bottom:0;}
div.contr table .ctrBox{font-weight:bold;text-align:center; color:#01509f;}
div.contr table .ctrBox strong{font-size:16px;}

/* 자녀교육비 참고표 */
div.eduWrap:after{content:"";display:block;clear:both;}
div.eduWrap .juContact{float:left;margin-left:20px;width:330px;}
div.eduWrap .juContact:first-child{float:left;margin-left:0;width:310px;}

div.popContents .textSum{font-size:16px;margin:7px 0;}
div.popContents .textSum strong{color:#01509f;}=======
/*==========================
  계약
============================*/
/* 계약검색 - 팝업 */
h2.contarPopTit{font-size:14px; color:#000; font-weight:bold; margin:0 0 10px 0;}

/* 정기성보험 - 종신전환 */
div.popContents .grayBox {border-left:0;padding:9px;background-color:#f6f6f6; border:1px solid #dedede; margin-top:10px;}
div.popContents .grayBox .conTable {width:100%; text-align:center;}
div.popContents .grayBox .conTable th{background-color:#ddedef;background-image:url(/img/common/bg_th2.gif); background-repeat:repeat;border-top:1px solid #dedede;border-left:1px solid #dedede;}
div.popContents .grayBox .conTable th:first-child{border-top:0;}
div.popContents .grayBox .conTable td{border-top:1px solid #dedede;padding:3px 3px 2px;background-color:#fff;border-left:1px solid #dedede;}
div.popContents .grayBox .conTable td:first-child{border-left:0;}
div.blueBox{background:#e5f6ff;border:1px solid #a7e1ff;padding:10px;margin-top:9px;color:#444;}
.grayBox .footNote + *{margin-bottom:0;}
.grayBox .footNote li{text-align:left;}