@charset "utf-8";



div.smartWrap{}
div.smartWrap h4{font-size:16px;}
div.smartWrap table.table3{padding-left:9px;}


/*==========================
  스마트검색
============================*/
/* 스마트서비스 1tab */
ul.smartTab{overflow:hidden;}
ul.smartTab li{width:512px; float:left;}
ul.smartTab li a{display:block; text-align:center; height:38px; line-height:36px; background:#f3f2ee; border:1px solid #e5e6e8; font-size:14px;}
ul.smartTab li a span{background:url(/img/sub/bg_smartse_off.png) no-repeat 0 50%; display:inline-block; padding-left:19px;}
ul.smartTab li:first-child a span{background-image:url(/img/sub/bg_smartp_off.png);}
ul.smartTab li.active{color:#3669aa; height:38px;}
ul.smartTab li.active a{
	color:#3669aa;
	border-bottom:0;
	border-top:3px solid #64ade5;
	border-left:1px solid #e5e6e8; border-right:1px solid #e5e6e8;
	line-height:35px;
	height:38px;
	background-color: #ffffff;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#eeeeee));
	background-image: -webkit-linear-gradient(bottom, #ffffff, #eeeeee);
	background-image: -moz-linear-gradient(bottom, #ffffff, #eeeeee);
	background-image: -ms-linear-gradient(bottom, #ffffff, #eeeeee);
	background-image: linear-gradient(bottom, #ffffff, #eeeeee);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#eeeeee', endColorstr='#ffffff');
}
ul.smartTab li.active a span{background-image:url(/img/sub/bg_smartse_on.png);}
ul.smartTab li:first-child a{border-left:1px solid ##e5e6e8; border-right:0;}
ul.smartTab li:first-child a span{border-left:1px solid ##e5e6e8; border-right:0;}
ul.smartTab li.active:first-child a span{background-image:url(/img/sub/bg_smartp_on.png);}


/* 스마트서비스 2tab */
.sInrTab{ overflow:hidden; padding:8px 0 8px 8px; }
.sInrTab li{float:left;}
.sInrTab li a{color:#777777; display:block; border:1px solid #cccccc; border-left:0; border-right:0; text-align:center;}
.sInrTab li a span{display:block; line-height:22px; padding:0 9px 0 9px;}
.sInrTab li.on a{display:block;background:#589df3; text-align:center; color:#fff; border:1px solid #3672c6;}
.sInrTab li.on a span{display:block; border-top:1px solid #4b8dde; border-right:1px solid #4b8dde; line-height:21px;}

.sInrTab li:first-child a{
	border-top-left-radius:2px;
	-webkit-border-top-left--radius:2px;
	-moz-border-top-left-radius:2px;
	-ms-border-top-left-radius:2px;
	border-bottom-left-radius:2px;
	-webkit-border-bottom-left-radius:2px;
	-moz-border-bottom-left-radius:2px;
	-ms-border-bottom-left-radius:2px;
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
}
.sInrTab li.last a{
	border-top-right-radius:2px;
	-webkit-border-top-right-radius:2px;
	-moz-border-top-right-radius:2px;
	-ms-border-top-right-radius:2px;
	border-bottom-right-radius:2px;
	-webkit-border-bottom-right-radius:2px;
	-moz-border-bottom-right-radius:2px;
	-ms-border-bottom-right-radius:2px;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}

div.smartCont{border-left:1px solid #e5e6e8; border-right:1px solid #e5e6e8; width:1024px; position:relative;}
div.settingWrap{padding:0 0 0 8px; overflow-y:scroll; overflow-x:hidden; width:1022px; height:315px;}
div.SettingZone{overflow:hidden;}

/* 조건선택 */
div.cdnSel{position:absolute; right:9px; top:7px;}

/* 스마트검색 테이블 */
table.smarTable{border:1px solid #dedede; }
table.smarTable.cols{float:left; width:688px; margin-right:10px;}
table.smarTable.rows{float:left;width:293px;}
table.smarTable.rows td{padding: 8px 0 7px 8px;}
table.smarTable.rows td.tac{padding:0;}
table.smarTable th{border:1px solid #dedede;}
table.smarTable th.tit{background:#f9fafa;}
table.smarTable tbody th,
table.smarTable tbody td{color:#707070; border:1px solid #dedede;}
table.smarTable .groupTit{
	background-size:100% 100%;
	background-color: #f3f4f5;
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc5MzQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGM0Y0RjUiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNFQUVCRUQiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c5MzQpIiAvPgo8L3N2Zz4=);
	
}
/* 초기화 및 조건저장 */
div.searchDetail{border:1px solid #cdd6d8; background:#f1f3f4; overflow:hidden;background:#f1f3f4 url(/img/sub/bg_searchDetail.gif) repeat-x 0 0;}
div.searchDetail div.tagCnt{width:877px; border-right:1px solid #e0e3ea; border-left:1px solid #c1c6cc; border-top:1px solid #c1c6cc; padding:9px 0 0 8px; background:#fff; float:left; min-height:57px; margin:12px 0 8px 9px; font-size:0;}
div.searchDetail div.tagCnt span{margin-right:19px; display:inline-block; padding:1px 0 2px 0; font-size:12px;}
div.searchDetail div.tagCnt button.smDel{background:url(/img/sub/btn_smDel.gif) no-repeat 0 0; width:11px; height:11px; vertical-align:middle; margin:0 0 0 5px; position:relative; top:-1px;}
div.searchDetail div.searchSave{float:right; background:#f1f3f4 url(/img/sub/bg_searchDetail_c.gif) repeat-y 100% 0; margin:2px 0 0 10px; width:125px; height:81px; padding:11px 0 8px 0;}
div.searchDetail div.searchSave span{display:block; padding:0 0 5px 0;}
div.searchDetail div.searchSave span a:first-child{margin-right:3px;}
div.searchDetail div.searchSave .lgBeR{width:106px; padding:8px 15px;}
div.fLset span.towLine .smWtRb {margin:-3px 0 1px 0;} /* 폼요소와 버튼 */
div.searchDetail div.msaveSearch dt{color:#3769a8; font-weight:bold; font-size:13px; padding:0 0 8px 0;}
div.searchDetail div.msaveSearch dd{background:url(/img/sub/blt_grayArrow.gif) no-repeat 4px 8px; padding:0 0 0 13px; line-height:21px;}
div.msaveSearch .smWtRb{position:absolute; right:9px; top:9px;}

/* 검색결과 총합 */
span.ResultSum{font-size:16px; display:block; font-weight:bold; height:46px; line-height:16px; padding:20px 0 10px 0;}

/* 스마트검색 주소지기준 */
span.addStandard{margin-bottom:8px;}
span.addStandard em{font-size:12px; vertical-align:middle; display:inline-block; margin-right:10px;}


/*==========================
  스마트픽
============================*/
div.smartPicWrap{border:1px solid #e5e6e8; height:400px; overflow-y:scroll; overflow-x:hidden; padding:9px 0; width:1024px; border-top:0;}

div.spVisual{width:494px; float:right; overflow:hidden;}

/* 그래프 */
div.spVisual div.graph{float:left; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; border:1px solid #dedede; width:238px; height:185px; text-align:center;}
div.spVisual div.graphCont{width:119px; margin:19px auto 10px; position:relative;}
div.spVisual span.salStd{display:inline-block; position:absolute; left:50%; top:50%; width:35px; margin:-19px 0 0 -17px;  font-size:30px; font-weight:bold; padding-bottom:10px; border-bottom:3px solid #000; color:#000; letter-spacing:-1px;}
span.myFavor{background:url(/img/sub/bg_Favor.gif) no-repeat 0 50%; padding-left:24px; height:17px; line-height:17px; display:inline-block; color:#000;}

/* 스마트픽 배너존 */
div.spbnrZone{width:242px; height:185px; float:left; position:relative; margin-left:10px; overflow:hidden;}
div.bnrList{position:absolute; left:0; top:0;}
div.bnrList img{float:left;}

/* 컨트롤버튼 */
span.bntCtrl{position:absolute; right:15px; top:15px; z-index:1;}
span.bntCtrl button{float:left; background:url(/img/sub/btn_slide_off.gif) no-repeat 0 0; width:13px; height:12px; margin-left:5px;}
span.bntCtrl button:first-child{margin-left:0;}
span.bntCtrl button.on{background-image:url(/img/sub/btn_slide_on.gif);}

/* 라운드마스크 */
span.slideMask{background:url(/img/sub/bg_slideMask.png) 0 0; width:242px; height:185px; position:absolute; left:0; }

div.spBox{position:relative; float:left; background:url(/img/sub/bg_spBox.gif) no-repeat 100% 0; padding:9px 0 9px 14px; width:240px; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; border:1px solid #dedede; height:89px; margin:0 0 9px 9px;}
div.spBox span.badge{display:block; height:16px;}
div.spBox p.spCmt{line-height:15px; padding:4px 105px 8px 0;}
div.spBox.clearB{clear:both;}
a.bePoint{background:url(/img/sub/bg_bePoint.gif) no-repeat 1px 50%; padding-left:13px; line-height:11px; font-size:11px;}
a.bePoint strong{position:absolute; right:0; top:13px; width:60px; text-align:center; display:block; height:40px; color:#fff; font-size:22px; line-height:18px; height:18px; font-weight:bold;}

/* 산출기준레이어 */
div.compLayer{position:absolute; z-index:22; background:#fff; background:url(/img/sub/bg_layerArrow.gif) no-repeat 18px 0; left:-2px; top:83px; height:171px; padding:5px 0 0 0; display:none;}
div.compLayer dl {width:242px;}
div.compLayer dt{background:#585a5c; color:#fff; font-weight:bold; height:33px; line-height:33px; padding-left:15px;
	width:242px;
	border:1px solid #dbdbdb; border-top:0;border-top-left-radius:4px;border-top-right-radius:4px; -webkit-border-top-left-radius:4px; -moz-border-top-left-radius:4px; -ms-border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px; -moz-border-top-right-radius:4px; -ms-border-top-right-radius:4px;
}
div.compLayer dd{width:242px; background:#fff; padding:14px; border:1px solid #dbdbdb; border-top:0; line-height:18px;
	border-bottom-left-radius:4px;border-bottom-right-radius:4px; -webkit-border-bottom-left-radius:4px; -moz-border-bottom-left-radius:4px; -ms-border-bottom-left-radius:4px;
	-webkit-border-bottom-right-radius:4px; -moz-border-bottom-right-radius:4px; -ms-border-bottom-right-radius:4px;
}
div.compLayer a.spClose{position:absolute; right:10px; top:9px;}


/*==========================
  일정표 - 월간
============================*/
div.sDuleHeader{overflow:hidden;}
div.sDuleHeader ul.sInrTab{float:left; padding:0;}
div.sDuleHeader div.carUtil{float:right;}

ul.iconList{overflow:hidden; float:left; margin-left:10px;}
ul.iconList li{float:left; height:24px;padding:5px 10px 0 0;}
ul.iconList li img{margin:-2px 5px 0 0; vertical-align:middle;}

div.checkingBox{height:33px; overflow:hidden; margin:9px 0 10px 0; clear:both; border:1px solid #dedede; border-left:0;}
div.checkingBox dl{float:left;}
div.checkingBox dt{margin:0 0 0 19px; background-color:#fafafa; width:41px; text-align:center; border-left:1px solid #dedede;}
div.checkingBox dl dt:first-child{margin-left:0;}
div.checkingBox dt,div.checkingBox dd{float:left; line-height:31px; height:31px;}
div.checkingBox dd{height:31px; padding:0 0 0 10px; border-left:1px solid #dedede;}
div.checkingBox dd input{margin:0 5px 0 10px;}
div.checkingBox dd input:first-child{margin-left:0;}
div.checkingBox dd input,div.checkingBox dd label{vertical-align:middle;}
div.checkingBox a.smGyRb{float:right; margin:5px 5px 0 0;}

div.calendar{position:relative;}
div.calendar div.yearSel{background:url(/img/sub/bg_sDuleHeader.gif) repeat-x 0 0; height:30px; border:1px solid #26a1d9; border-bottom:2px solid #1b7eb2; text-align:center; line-height:36px;}
div.calendar div.yearSel > span{display:inline-block; min-width:223px; height:30px; line-height:30px; text-align:left; position:relative; font-size:0; vertical-align:top;}
div.calendar div.yearSel button,
div.calendar div.yearSel span.current{vertical-align:top;}
div.calendar div.yearSel button.ybefore{background:url(/img/sub/btn_mkYbefore.gif) no-repeat 0 0; width:20px; height:20px; margin:4px 0 0 0;}
div.calendar div.yearSel span.current{ display:inline-block; min-width:162px; position:relative; text-align:left; height:27px; line-height:27px;}
div.calendar div.yearSel span.current > a:first-child{background:url(/img/sub/icon_ySelArwclose.gif) no-repeat 100% 50%; display:inline-block; font-size:18px; min-width:113px; font-weight:bold; color:#fff; padding:0 21px 0 23px; margin-right:9px;}
div.calendar div.yearSel span.current a.close{background-image:url(/img/sub/icon_ySelArwclose.gif);}
div.calendar div.yearSel span.current a.carendar span.today{vertical-align:top; display:inline-block; width:36px; font-family:Myriad Pro; font-size:11px; background-color:#318eb9; margin:3px 25px 0 0;}
div.calendar div.yearSel button.ynext{background:url(/img/sub/btn_mkYnext.gif) no-repeat 0 0; width:20px; height:20px; height:20px; margin:4px 0 0 0;}


/* 달력 레이어 공통*/
div.mini_calender{ position:absolute; left:50%; top:25px; border-bottom:1px solid #d1d1d1; z-index:1; padding:10px 0 0 0;}
div.mini_calender div.monHdr{height:36px; border:1px solid #64ade5; border-bottom:1px solid #e5e6e8; background-color:#f7f7f7; text-align:center; padding:7px 0 0 0; position:relative;}
div.mini_calender div.monHdr a.current{color:#363636; font-size:16px; font-weight:bold;display:inline-block; vertical-align:middle; width:128px; background:url(/img/sub/bg_monthCurrent.png) no-repeat 0 0; height:39px; margin-top:-17px; padding:18px 0 0 0;}
div.mini_calender button.mbefore{background:url(/img/sub/btn_mkMbefore.gif) no-repeat 0 0; width:22px; height:22px; position:absolute; left:10px; top:8px;}
div.mini_calender button.mnext{background:url(/img/sub/btn_mkMnext.gif) no-repeat 0 0; width:22px; height:22px; position:absolute; right:10px; top:8px}

/* 월선택 레이어 */
div.mini_calender.year{display:none; margin-left:-105px; height:147px; width:192px;}
div.mini_calender.year div.monthSet{width:192px; border:1px solid #64ade5; border-top:0; overflow:hidden; height:100px; padding:12px 0 0 5px; background-color:#fff;}
div.mini_calender.year div.monthSet button{background:#fff; border:1px solid #cccccc; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; -ms-border-radius:2px; color:#707070; height:24px; width:40px; float:left; margin:0 0 3px 4px;}

/* 일선택 레이어 */
div.mini_calender.month{margin-left:-140px; width:278px;}
div.mini_calender.month div.dataTable{ background-color:#fff; border:1px solid #64ade5; border-top:0; padding:0 7px 6px 7px;}
div.mini_calender.month table{border:0;}
div.mini_calender.month table th,
div.mini_calender.month table td{border:0;}
div.mini_calender.month table th.sun{color:#e8404f;}
div.mini_calender.month table th.sat{color:#00a2ff;}
div.mini_calender.month table td a{width:34px; display:block; height:16px; line-height:16px; text-align:center;}
div.mini_calender.month table td a.prevMon{color:#b2b2b2;}



/* 월선택시  */
div.monthSelLayer div.monthSet button.on{background-color:#0084ff; color:#fff; border:0;}
div.calendarCnt{margin:5px 0 20px 0; overflow:hidden;}
table.schedule{ float:left; width:769px;}
table.schedule th,
table.schedule td{border:1px solid #e5e6e8;}
table.schedule thead th{background:#f9f9f9; height:21px; padding:0;}
table.schedule tbody td.sun{color:#e8404f;}
table.schedule tbody td.sat{color:#00a2ff;}
table.schedule tbody td {vertical-align:top; padding:0; position:relative;}
table.schedule tbody td > div{ padding:7px 5px 5px 9px;width:100%;  height:87px; position:relative;}
table.schedule tbody td > div strong{float:right; margin-top:-2px; font-weight:normal;}
table.schedule tbody td div.schedule_list{width:85px; float:left;}
table.schedule tbody td div.schedule_list a{letter-spacing:-1px;}
table.schedule tbody td button.schedule_more{background-color:#319be7; width:21px; height:21px; position:absolute; right:-1px; bottom:-1px; color:#fff; font-size:11px;}

div.calendarCnt td a{display:block; padding-left:16px; height:13px; line-height:13px; font-size:11px; word-spacing:-2px; margin-top:2px;}
div.calendarCnt td a:first-child{margin-top:0;}
div.calendarCnt td a.wkicon1{background:url(/img/sub/wkicon1.gif) no-repeat 0 0;}
div.calendarCnt td a.wkicon2{background:url(/img/sub/wkicon2.gif) no-repeat 0 0;}
div.calendarCnt td a.wkicon3{background:url(/img/sub/wkicon3.gif) no-repeat 0 0;}

div.worksetWrap{width:245px; float:right;}
div.worksetWrap h3{height:30px; background-color:#80dbe4; border:1px solid #75cbd4; border-bottom:2px solid #3dabb6; margin:0 !important;}
div.worksetWrap h3 span{display:inline-block; background:url(/img/sub/icon_wkCalendar.gif) no-repeat 8px 4px; padding-left:36px; font-size:13px; color:#fff; line-height:27px;}

/* 일정관리탭 */
ul.sDuleTab{border-top:1px solid #cacaca; background:#f7f7f8 url(/img/sub/bg_sDuleTab.gif) repeat-x 0 100%; overflow:hidden; border-right:1px solid #dedede;}
ul.sDuleTab li{float:left; width:80px; border:1px solid #e6e6e7; border-left:1px solid #dedede; border-right:0; border-bottom:0;}
ul.sDuleTab li a{display:block; text-align:center; height:31px; border-top:2px solid #ffffff; line-height:25px;}
ul.sDuleTab li.on a{ border-top:1px solid #f4f4f4; border-right:1px solid #f4f4f4; border-left:1px solid #fcfcfd; background:#fff;}

div.workcnt {border-left:1px solid #dedede; border-right:1px solid #dedede; overflow-y:scroll; overflow-x:hidden; height:397px;}
div.workcnt ul.worklist{}
div.workcnt ul.worklist li{}
div.workcnt ul.worklist li > strong{height:19px; border-top:1px solid #fff; display:block; line-height:19px; text-align:center; font-weight:normal;
	background-color: #fafafa;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#f3f3f3));
	background-image: -webkit-linear-gradient(top, #fafafa, #f3f3f3);
	background-image: -moz-linear-gradient(top, #fafafa, #f3f3f3);
	background-image: -ms-linear-gradient(top, #fafafa, #f3f3f3);
	background-image: linear-gradient(top, #fafafa, #f3f3f3);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fafafa', endColorstr='#f3f3f3');

}
div.workcnt ul.worklist li table{border:0;}
div.workcnt ul.worklist li table thead tr th{height:23px; padding:0;
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc1NzkiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGQUY5RjkiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGMkYzRjIiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c1NzkpIiAvPgo8L3N2Zz4=);
}
div.workcnt ul.worklist li table tbody tr td{padding:0; text-align:center; height:23px;}
div.workcnt ul.worklist li table thead tr th,
div.workcnt ul.worklist li table tbody tr td{border:1px solid #e6e6e7; border-right:0;}
div.workcnt ul.worklist li table thead > tr > th:first-child,
div.workcnt ul.worklist li table tbody > tr > td:first-child{border-left:0;}
div.worksetWrap div.btnWrap{border:1px solid #c6c6ce; border-top:1px solid #d4d4d4; height:35px; padding:5px 0 0 0; text-align:center;}


/*==========================
  일정표 - 주간&일간
============================*/
div.timeSchedule{width:770px; float:left;}
div.timeSchedule table{border:0;}
div.timeSchedule table th,
div.timeSchedule table td{border:1px solid #e5e6e8;}
div.timeSchedule table thead th{background-color:#f9f9f9;}
div.timeSchedule table td{height:18px; padding:0 0 0 5px;}
div.timeSchedule table tr.specialDay th,
div.timeSchedule table tr.specialDay td{background-color:#fcf9eb;}
div.timeSchedule table th.sun{color:#e8404f;}
div.timeSchedule table th.sat{color:#00a2ff;}


div.timeSchedule.week{ overflow-y:scroll; overflow-x:hidden; height:462px; border-bottom:1px solid #e5e6e8; border-left:1px solid #e5e6e8;}
div.timeSchedule.week table{margin-bottom:20px;}
div.timeSchedule.week th,
div.timeSchedule.week td{border:1px solid #e5e6e8; border-right:0;}
div.timeSchedule.week table thead > tr > th:first-child,
div.timeSchedule.week table tbody > tr > th:first-child{border-left:0;}

div.timeSchedule.day{}

div.statisTable .table1 thead tr.tRow th,
div.statisTable .table1 tbody th{background:none;}
div.statisTable .table1 th,
div.statisTable .table1 td{text-align:center;}


/*==========================
  EMAIL센터
============================*/
div.ReceiverZone{padding:6px 0 0 0;}
div.ReceiverZone .btnWrap span{position:absolute; left:0; top:0;}
div.ReceiverZone div.scrolling{ overflow-y:scroll; overflow-x:hidden; margin-top:5px;}
div.scrolling table th{background:#ddedef; background-image:none;}
div.scrolling table th,
div.scrolling table td{border-right:0;}